[2016-06-15 21:33] heinemml opened #1 "com.docker.network.bridge.host_binding_ipv6 without effect"
I'm trying to setup ipv6nat on my machine.

I need a dedicated IPv6 address for the NAT as I want my main machine to be reachable on port 22 at its own IP.

If I'm reading the documentation correctly I can only define this on a user-defined network. Using the default bridge would probably easier but I don't see how i could set `com.docker.network.bridge.host_binding_ipv6` there.

Now I created  a

[2016-06-15 22:13] heinemml commented on #1
I think I figured it out.

In the Readme the option is called  `com.docker.network.bridge.host_binding_ipv6` which matches the docker setting `com.docker.network.bridge.host_binding_ipv4`
But if I look in the code here https://github.com/robbertkl/docker-ipv6nat/blob/master/state.go#L172 I see that the option is called  `com.docker.network.bridge.binding_ipv6`.

The second error I had was adding a

[2016-06-15 22:36] robbertkl commented on #1
Hi, you are exactly right, on both accounts. The name should match the IPv4 version, I'll make the necessary fixes to code and/or documentation right away, including your comment about the subnet.

I'm actually not using the option myself, for exactly the reason you mentioned before: the default `bridge` network is created on docker startup and it's options come from: `--ip=x.x.x.x` translates int

[2016-06-15 22:59] robbertkl commented on #1
All fixed in v0.1.2; new image is on Docker Hub as well.

Thanks for reporting @heinemml !

[2016-06-15 22:59] #1 closed

[2016-06-17 09:31] heinemml opened #2 "Setting IP Address to docker0 interface"
Hi,

thanks for fixing #1 so fast.

I got another related one.

When I use the `com.docker.network.bridge.host_binding_ipv6` option the ip6tables rules are now created fine. But my IP is not reachable from the outside.

I took a look how this handled in the IPv4 case.
When I use ` "com.docker.network.bridge.host_binding_ipv4"="1.2.3.4"` the ip address 1.2.3.4 is assigned to the docker0 interface.

[2016-06-17 10:09] robbertkl commented on #2
Hi, thanks again, just keep 'em coming!

Since `docker0` is the bridge interface for the default `bridge` network, I assume you've assigned 1.2.3.4 using `--ip=1.2.3.4` on the Docker daemon. Is that correct?

I've just created a user-defined network like this:

[code]

However, I don't see this IP auto-configured on any interface, not on `docker0` and not on `br-test`.

My guess is that the auto a

[2016-06-17 10:53] heinemml commented on #2
Hi,

you are right, I had the ipv4 address assigned before via the --ip flag before I was switching to the user-defined network. For some reason the IPv6 address gets removed on docker start but the ipv4 stays.

I now just added both, my IPv4 and my IPv6 address for the network to the eth0 interface, so it is independent from docker startup or anything.

Seems to work fine, so nothing to be done h

[2016-06-17 10:54] #2 closed

[2016-06-17 12:00] robbertkl commented on #2
Hi, I have a similar solution as far as Let's Encrypt proxy (I created https://github.com/robbertkl/docker-proxy for this). I'm also running a mail server and basically wanted everything to be reachable on IPv6. For mail, it's also important the original source IPv6 address ends up in the mail container, so SPF filters function properly.

Thanks for using docker-ipv6nat and let me know if you run

[2016-07-25 22:15] ginkel opened #3 "No NAT rules are created for container(s)"
Probably I'm making some huge mistake somewhere, but I can't figure out how to get this working.

/etc/docker/daemon.json:

[code]

docker0:

[code]

I started ipv6nat:

[code]

After that I started another container attached to docker0 (provisioned via Ansible):

[code]

I would have expected that a new forwarding rule shows up in `ip6tables -L`. But the `DOCKER` chain remains empty:

[code]

[co

[2016-07-30 17:54] robbertkl commented on #3
Hi @ginkel, sorry for late reply; I'm away on vacation and couldn't access the internet before.

I have a similar setup: I run RancherOS v0.5.0, which also has Docker 1.11.2. My cloud-config has this:

[code]

which is *exactly* what you have. I, however, do not use Ansible. I use either `docker run` or let `docker-compose` create+start the containers.

The daemon triggers on Docker events of type

[2016-08-11 15:17] robbertkl commented on #3
Closing this issue due to inactivity. Please feel free to reopen it if you still want to look into it.

[2016-08-11 15:17] #3 closed

[2016-09-20 17:03] chr4 opened #4 "Support for incoming requests"
Your solution seems to work fine for enabling outgoing ipv6 requests using NAT, but I encounter some issues regarding incoming requests. When connecting from another server to a docker-exposed port, the docker container will get the request from the NATed ipv4 address:

Requests from another server
[code]

Incoming requests
[code]

Is this a known problem? This prevents the service in the docker c

[2016-09-20 21:20] robbertkl commented on #4
Hi, thanks for your report. This should happen. With my own containers, I get the original source address. This was indeed 1 of the goals for this project, as I use it with a mail server myself.

Can you tell me what Docker version you're using?

Also, can you try disabling the userland proxy (`--userland-proxy=false`) and see if this fixes the issue? I believe the ip6tables rules should take prio

[2016-09-21 09:25] chr4 commented on #4
Thanks for your response! I'm using `Docker version 1.12.1, build 23cf638`.
Setting `--userland-proxy=false` results in no ipv6 connections arriving at the target container at all (conncetion eventually times out).

Here's the complete output of my iptables setup, in case it helps. I cleared all other rules besides the one that docker and ipv6nat create:

[code]

[code]

[code]

[code]

[2016-09-23 14:40] robbertkl commented on #4
Sorry for my late reply, just noticed you had replied and my GitHub e-mail notification did not come through.

Your results with the userland proxy turned off confirm that the connections you were seeing were indeed proxied by the userland proxy, and therefore had an incorrect source address. Usually the userland proxy would be automatically overruled by the ip6tables rules created by ipv6nat, but

[2016-09-25 15:56] chr4 commented on #4
I've rebootet my server, killed all docker containers and ran all the commands you've mentioned in the previous post, and the port is correctly forwarded, incoming requests are forwarded correctly.

I think I've tracked down the problem!
I've specified the `-p` parameter (using `docker-compose.yml`) with `"*:25:25"`, forcing it to only listen on ipv4. I'm not sure why I used this notation, but I r

[2016-09-25 15:56] #4 closed

[2016-09-25 16:00] robbertkl commented on #4
Ah, that makes sense. I'll see if I can improve to support your case as well. Thanks for letting me know the cause!

[2017-01-05 09:19] cooperaj opened #5 "Is it possible to use capabilities rather than the catchall --privileged?"
`--cap-add NET_ADMIN` for instance?

[2017-01-05 11:33] robbertkl commented on #5
Good idea, I'm not sure. Could you perhaps try and let me know? I can then update the documentation (or you could submit a PR).

Please note that if some ipv6/ip6tables related kernel modules are not loaded, ipt6tables will automatically load them on first start. This requires mounting `/lib/modules` (see README), but probably also requires the `--privileged`.

[2017-01-20 14:25] heinemml opened #6 "Docker 1.13"
Hi,

I had this setup running for some time now.
Lately I resetup this container with docker 1.13.

The container exits pretty quickly after start and the log is full with this message:

[code]

Do you have any idea where this might be comming from? I'm pretty much out of Ideas.

[2017-01-20 15:03] heinemml commented on #6
Okay, stupid me. I messed up with the setup command and changed `--net=host` to the net I wanted to use for the NAT. Everything is up and running again.

[2017-01-20 15:03] #6 closed

[2017-01-31 21:23] robbertkl commented on #5
Closed due to inactivity.

[2017-02-03 21:48] julianxhokaxhiu opened #7 "ARMhf support"
Can you please consider building a version that support ARMhf as well?

You can consider using https://hub.docker.com/r/forumi0721/alpine-armhf-base/, which could be used as a base to autobuild on Docker Hub as well.

A dedicated tag `armhf` would be nice to have too.

Thank you in advance!

[2017-02-03 21:52] robbertkl commented on #7
As I'm unable to easily test this myself, perhaps you could give it a shot? I'm open to PRs.

Or perhaps you can manually verify that all it takes is a different (ARMhf) base image with a cross-compiled binary, I can make the necessary changes including ARMhf releases and automated builds.

[2017-02-03 21:55] julianxhokaxhiu commented on #7
The only issue is that you should provide in your releases an ARMhf binary to work. I can provide a PR for the Dockerfile meanwhile :)

[2017-02-03 22:50] robbertkl commented on #7
Just closed your PR since I'm playing with this myself for the moment. Since I wasn't aware of how cross arch images work on Docker hub / automated builds, I wasn't sure why I would need forumi0721's image, instead of something like `armhf/alpine`, but after reading https://resin.io/blog/building-arm-containers-on-any-x86-machine-even-dockerhub/ I understand.

I've added an ARMhf binary release an

[2017-02-04 08:31] julianxhokaxhiu commented on #7
Thank you! I'll try and I'll provide feedback asap :)

[2017-02-04 12:28] julianxhokaxhiu commented on #7
Seems to work well! Tested on RPi2 :)

Thank you!

[2017-02-04 12:28] #7 closed

[2017-02-04 12:59] robbertkl commented on #7
@julianxhokaxhiu Great, I'm creating a v0.2.0-armhf tag now. Thanks for the suggestion and your help.

I would, however, like to switch the base image to something else. I don't know where you've found `forumi0721/alpine-armhf-base`, but I'd like something where I can specify specific alpine versions, and preferably know what it's doing (source / Dockerfile). Can you tell me where it came from?

[2017-02-04 13:10] julianxhokaxhiu commented on #7
Google honestly. I was looking for images that were recently updating regarding ARM support and that one came up. Unfortunately I didn't find sources either. I'm also a find of knowing what is actually doing, though preferrably through source code, but there is none.

Unfortunately enough this guys seems the only one who updates them frequently and offers an interesting stack to install/update/rem

[2017-02-09 15:53] julianxhokaxhiu commented on #7
FYI I found an open approach on building nearly from scratch, from an image that is more transparent, see https://hub.docker.com/r/armhf/alpine/

For an example, see https://github.com/cmosh/alpine-arm

[2017-02-10 15:11] robbertkl commented on #7
Awesome, thanks for this. I took a slightly different approach, based on your info, see the`Dockerfile.armhf` for details. Basically I skipped the `cross-build-start`/`-end` stuff by wrapping each of the 2 commands I run.

I've also published a new release, making the ARMhf version official.

[2017-02-10 19:42] Knight1 opened #9 "aarch64 support"
Hey,

would you please also consider providing an automated builded aarch64 Image?

You could use this repo https://hub.docker.com/r/aarch64/alpine/
Or the builds from #7 https://hub.docker.com/r/forumi0721/alpine-aarch64-base/

Thanks!

[2017-02-11 18:45] robbertkl commented on #9
Done! See https://hub.docker.com/r/robbertkl/ipv6nat/tags/

[2017-02-11 18:45] #9 closed

[2017-02-11 18:51] Knight1 commented on #9
Thank you so much! 🤗

[2017-04-17 09:16] mkuron opened #10 "Running ipv6nat from Docker image removes IPv6 addresses from all interfaces on Debian 8"
When I run `docker run -d --restart=always -v /var/run/docker.sock:/var/run/docker.sock:ro -v /lib/modules:/lib/modules:ro --privileged --net=host robbertkl/ipv6nat` on Debian 8 (Kernel 4.9.0-0.bpo.2-amd64 from jessie-backports, Docker 17.04.0), all inet6 addresses, including the link-local ones, are removed from all interfaces and thus IPv6 communication ceases to work. To recover, the container

[2017-04-18 18:24] robbertkl commented on #10
Thanks @mkuron for reporting. This is the first I hear about an issue like this, it doesn't occur on any other hosts / OS'es I'm aware of.

As you can see in `Dockerfile.amd64`, all it does is run the release version inside of a (privileged) Alpine Linux container. The first time ip6tables is called, it loads the needed IPv6 related kernel modules if they weren't loaded yet. Perhaps this causes si

[2017-04-18 18:28] mkuron commented on #10
The only difference is probably that the ip6tables binary came from Alpine; perhaps it's not fully compatible with Debian's kernel. `ip6tables --list` on the host does show that the appropriate rules were created though.
I will test as requested and report back in a few days.

[2017-04-18 18:31] robbertkl commented on #10
Much appreciated!

[2017-04-19 10:39] mkuron commented on #10
Appears to be an issue in Docker: `--net=host` currently disables IPv6 on the host. It has been fixed, but not yet released: https://github.com/docker/libnetwork/pull/1711

[2017-04-19 10:39] #10 closed

[2017-04-19 11:23] robbertkl commented on #10
Good to know, thanks!

[2017-06-09 18:54] dperson opened #11 "Firewall rule issue"
First, big thanks for creating this project, it's crazy that it's not built into docker by default.

I'm running Fedora 25, fully patched and up to date. After starting your container, the forwarding rules worked on the local host, but not remotely (even on the same local network). On checking the firewall forwarding chain, I found the issue. Your docker rules were added after the default deny, so

[2017-06-12 00:35] jbbr opened #12 "Swarm mode support"
This is working great so far for single-node docker services. Thanks!

Is there any chance to get this to work with Docker Swarm mode's ingress network?

[2017-06-12 10:03] robbertkl commented on #12
I was already wondering when this question would be coming. 😄

I assume you're talking about Docker swarm mode, and not Docker Swarm?

This project was made before Docker swarm mode, so it doesn't take it into account. I have to dive into how swarm mode's ingress network works, to see if it could work. I'm a bit busy at the moment, but I'll try to take a look soon.

[2017-06-12 12:40] jbbr commented on #12
Yes you are right. I'm talking about the new swarm mode (Docker 1.12+).
As far as I know Swarm mode ingress networks are using the built-in kernel IPVS load balancer. Also the user land proxy is never used for swarm ingress networks.

In the best case the IPVS network is transparent for the ipv6 NAT but I worry that this might not be as easy as I hope.

[2017-06-12 12:42] robbertkl commented on #12
In case you're testing before I have time to take a look, let me know the results. Of course, PR's are also very welcome!

[2017-06-19 07:23] setiseta opened #13 "iptables v1.6.1: Couldn't load target `DOCKER'"
Hello,

i have tried to get this working, but the ipv6nat container is in restarting state with the log message:
2017/06/19 07:21:03 exit status 2: iptables v1.6.1: Couldn't load target `DOCKER':No such file or directory

Try `iptables -h' or 'iptables --help' for more information.

help would be nice.
What am i doing wrong?

Kind Regards
Sebastian

[2017-06-19 07:30] setiseta commented on #13
this appears if option b is used on ubuntu 16.04.
If i run option A on this system i get a message about the modules missing, and with mounting the additional volume it works.
so this may be a minor thing?
is the module loading missing / not working on option B?

[2017-06-19 07:33] robbertkl commented on #13
Can you send me some additional info:
* Docker version
* Docker daemon startup flags
* Command (or compose section) you used to start the container
* Output of `docker run --rm --privileged --net=host --entrypoint iptables-save robbertkl/ipv6nat`

[2017-06-19 07:40] setiseta commented on #13
The Host with only option B:
- Docker Version: 17.05.0-ce
- Docker daemon startup flags:
   ```DOCKER_OPTS="--log-opt max-size=100m --log-opt max-file=5 --userland-proxy=false"```
- Command:
   ```docker run --name ipv6nat -d --restart=always -v /var/run/docker.sock:/var/run/docker.sock:ro --privileged --net=ipv6test -v /lib/modules:/lib/modules:ro robbertkl/ipv6nat```
- Output of iptables-save

[2017-06-19 07:41] robbertkl commented on #13
You're missing `--net=host`.

[2017-06-19 07:42] robbertkl commented on #13
I see now you have `--net=ipv6test`; this is incorrect. The ipv6nat container needs to have access to the host firewall. See `README.md`.

[2017-06-19 07:46] robbertkl commented on #13
Just clarified this in the README in 4395f915199c447f385b19710d5ced4c786dc5a9.

[2017-06-19 07:46] #13 closed

[2017-06-19 10:59] setiseta commented on #13
Thank you for fast response.

[2017-07-21 11:54] rmoriz opened #14 "NAT does not work for incoming connections."
**Scenario**

Debian 8
Docker version 17.05.0-ce, build 89658be

docker.service:
[code]

**Steps**

1. deployed ipv6nat container:

Privileged, IPv6 enabled, host net, module+ docker socket mounted:

<details>

[code]

</details>

2. created and internal net with IPv6 and ULA range

(container appears after step 3)

<details>

[code]
</details>

3. launch container

<details>

[code]
</details>

A

[2017-07-21 12:24] robbertkl commented on #14
Thank you for your detailed report.

First of all, I see some duplicated rules here. Did you perhaps `docker kill` the ipv6nat container and then start it again? Can you flush all rules and restart ipv6nat?

Here's my `ip6tables -L` to compare:

[code]

Aside from the duplicated rules, the only differences seem to be:
* your `DOCKER-ISOLATION` contains a `DROP` rule (which is an isolation rule, I

[2017-07-21 12:26] robbertkl commented on #14
Also, after a flush + restart, can you send me the output of `ip6tables-save` instead? Thanks.

[2017-07-21 12:30] rmoriz commented on #14
Duplicate rules reappear on container restart:

[code]

[2017-07-21 12:31] robbertkl commented on #14
I just realised that's normal, they're for different interfaces.

Send me the `ip6tables-save` output and we can see this.

[2017-07-21 12:42] rmoriz commented on #14
I've reset everything, removed all containers and networks and recreated everything.

[code]

and:

[code]

[2017-07-21 13:02] robbertkl commented on #14
In your container inspect I see various `/srv/docker` paths. Are you sure your docker socket is at `/var/run/docker.sock`? Can you send `ls -l /var/run/docker.sock`?

[2017-07-21 13:06] rmoriz commented on #14
[code]

[2017-07-21 13:27] robbertkl commented on #14
Do you have the docker commands (`docker network create` of the network(s), `docker run` of both the ipv6nat and other container) for me, so I can try to reproduce it (on debian + 17.05.0-ce) and try to debug why it's not seeing the containers / exposed ports? Thanks.

[2017-07-21 13:41] rmoriz commented on #14
I'm using chef and [this cookbook](https://github.com/chef-cookbooks/docker) (connects to dockerd using the docker-api rubygem) so I cannot provide the commands right now, sorry.

btw I tried running the `docker-ipv6nat` binary outside of docker but doesn't change anything to the ip6tables… also no log/stdout/stderr output at all.

[2017-07-21 13:44] robbertkl commented on #14
OK, thanks. Probably something simple, not sure it's related to the docker version, but obviously it sets up ip6tables correctly, but then fails to detect the containers / exposed ports, so it creates no rules for those ports.

I'll look into it and let you know. Would be nice to get to the bottom of this. Thanks for all the detailed info so far.

[2017-07-21 17:46] robbertkl commented on #14
Unfortunately I was not able to reproduce the problem by just creating the containers. What I did is the following:

* Launch a VM with Debian 8 (jessie)
* Install docker 17.05.0-ce
* `sudo docker run -d --name ipv6nat --restart=always -v /var/run/docker.sock:/var/run/docker.sock:ro -v /lib/modules:/lib/modules:ro --privileged --net=host robbertkl/ipv6nat`
* `sudo docker network create --ipv6 --su

[2017-07-21 18:08] robbertkl commented on #14
Nevermind @moriz, I found it! Your container is started with `-p 0.0.0.0:80:80` instead of `-p 80:80`. This is a "feature" of docker-ipv6nat: it sees it's binding to a specific IPv4 address (or in this case, any IPv4 address), so it refrains from binding to IPv6.

Are you able to change this behaviour for your setup?

I have considered changing ipv6nat so that `0.0.0.0` will be a special case and

[2017-07-21 18:59] robbertkl commented on #14
I went ahead and changed this right away. This would make it easier for you and any other people running into this issue.

Just upgrade to [v0.3.0](https://github.com/robbertkl/docker-ipv6nat/releases/tag/v0.3.0) and you should be good to go!

(Closing this issue now, feel free to reopen or open a new one if you're still having issues)

[2017-07-21 18:59] #14 closed

[2017-07-21 20:55] rmoriz commented on #14
Thanks a lot!

I didn't specify 0.0.0.0 myself but sadly https://github.com/chef-cookbooks/docker/blob/master/libraries/helpers_container.rb#L160 adds 0.0.0.0 :/

[2017-07-21 21:08] robbertkl commented on #14
Yeah, that's what I figured. That's why I changed it in docker-ipv6nat, so you wouldn't have to change the cookbook.

[2017-07-21 21:57] rmoriz commented on #14
I was able to abuse the cookbook by using something like:

[code]
which even works in the previous version of ipv6nat. Interestingly enough, `docker ps` still shows `80/tcp, 0.0.0.0:80->8080/tcp, 0.0.0.0:443->8443/tcp`  but the inspect exposes the diff:

[code]

odd :/

Thanks a lot again, it works now like a charm :)

[2017-08-03 15:05] rmoriz commented on #11
This issue is also present with debian when using `ufw`

[2017-08-19 13:42] JiiPee74 commented on #11
I have this same issue and what I think ipv6nat should do is to detect if there already rules set, it should add docker related rules with -I not with -A and then not add any REJECT/DROP rules if they are already present.

[2017-08-19 21:59] robbertkl commented on #11
I'd like to mimic the way docker handles this situation for IPv4. I hope to take a crack at this soon, but I'm a bit busy at the moment. In the meantime PRs (or additional info on how docker does this) are very welcome.

[2017-08-19 22:12] JiiPee74 commented on #11
Example here is commit so docker recreate rules when firewalld reload is issued

https://github.com/docker/libnetwork/commit/dbc253f732f8f1d90306e4128fb05bdc59f61544

[2017-08-19 22:16] JiiPee74 commented on #11
And I think here is some detection if firewalld is running, not sure if it explain how rules are added
https://github.com/docker/libnetwork/blob/v0.8.0-dev.2/iptables/iptables.go#L351

And here is when firewalld support was added to docker
https://github.com/moby/moby/pull/9397

[2017-08-20 19:59] robbertkl commented on #11
The last one (firewalld) seems like quite a big change: when firewalld is detected it uses firewalld instead of iptables directly. Would this be necessary, or do you think we can just talk to iptables and co-exist with firewalld (just having to manage where to place rules and watch out for restarts / firewall clears)?

[2017-08-20 20:21] JiiPee74 commented on #11
I don't think it's required to use firewalld to add rules, it will after all use iptables to add thouse rules. So if there is way to detect firewalld restart/reload event, then yes I think it would be enough to just fill rules again.

So if docker use firewalld to add rules if it detects it's active, I ques there isn't any trace to see where in chain it's adding thouse rules?

Anyway my experience

[2017-08-21 12:53] dperson commented on #11
Whether they are managed by `firewalld` or directly in `iptables` should make no difference.

The key is getting them inserted before the final `DROP` or `REJECT` rule. There are often good rules to protect from bogus/malicious traffic. If it's not too much work, I'd prefer that the docker rules be `-I` (inserted) before the last rule (if it's `DROP` or `REJECT`). Thanks.

[2017-09-07 22:23] kb1ibt commented on #12
just checking to see if any progress has been made in this issue?

[2017-10-06 13:32] imp1sh commented on #11
I also have the exact same Problem with CentOS 7.

[2017-10-23 09:21] imp1sh commented on #11
This issue is also valid for Fedora 26.

[2017-10-23 10:08] Strayer commented on #11
Did anyone find a way to get this easily usable with UFW? I'd really like to start using this and add IPv6 functionality to my containers, but it seems like UFW is making this kinda impossible :/

[2017-10-25 14:17] robbertkl commented on #11
Finally had some time to look into this, sorry for the delay!

I've made some changes to make it play nice with existing firewall rules. I've tested it on a Debian Stretch VM with UFW, but it should work with other firewall conflicts as well.

I've released a new version ([v0.3.1](https://github.com/robbertkl/docker-ipv6nat/releases/tag/v0.3.1)) which is also available from Docker Hub as `robbertk

[2017-10-25 14:34] robbertkl commented on #12
No progress on my end. I'm not using Docker swarm mode myself, so I'd have to build a test setup to see how (and if) this would be possible. Since it has a centralised ingress, it could get quite complicated, compared to the way docker-ipv6nat works now (event triggered on a single host).

It might be better to wait until IPv6 NAT is integrated into Docker, because then I'm sure it will have swarm

[2017-10-25 14:59] dperson commented on #11
Yes, that fixes it for me. Thank you very much.

[2017-10-25 14:59] #11 closed

[2017-10-25 15:43] Strayer commented on #11
Seems to work fine for me on Gentoo with docker 17.03.2-ce! Initially had a different issue... didn't set a default IPv6 gateway, starting Docker with ipv6 broke the whole IPv6 network - ouch! After that was sorted I started the ipv6nat container again and the forwarding seems to set up just fine.

In future I'll probably move to [manual firewall configuration with nftables](https://stephank.nl/p/

[2017-10-25 16:07] robbertkl commented on #11
Thanks @dperson and @Strayer for letting me know. Glad to hear it's working now.

[2017-11-21 11:04] mettke commented on #3
I would like to reopen this issue. I'm not using ansible, but docker-ipv6nat doesn't create any rules in my setup as well.

[code]

I've tried starting docker-ipv6nat with docker and local:
[code]
[code]
Afterwards I created a container with
[code]
Both times (via docker and locally) no rules were created:
[code]
Any ideas what I might be doing wrong?

[2017-11-21 11:32] robbertkl commented on #3
Next time it's better to open a new issue, since it might not be related to the original, abandoned (possibly resolved?) issue.

As for your issue: it seems you're using prefix `2001:db8::/64`, this is a prefix meant for documentation purposes only ([RFC 3849](https://tools.ietf.org/html/rfc3849)). Instead, you should use a ULA prefix ([RFC 4193](https://tools.ietf.org/html/rfc4193)), as is explai

[2017-11-21 12:09] mettke commented on #3
Sorry - next time I will.
Thanks very much for your help it is exactly like you said :+1:

[2017-11-21 18:07] mettke opened #15 "Ports bond to localhost are not ignored"
Adding a Container with
[code]
leads to the following ip6table rules:
[code]
However being bond to localhost, the port should not be exposed like that.

[2017-11-21 18:13] robbertkl commented on #15
First of all, `::` is not localhost. Localhost is `::1`. `::` is the equivalent of `0.0.0.0/0`, i.e. "anywhere".

Secondly, Docker / `docker run` does not support IPv6 port binding. `ipv6nat` is an external service that does not modify the behavior of docker. `-p` is for docker's own IPv4 bindings.

[2017-11-21 18:13] #15 closed

[2017-11-21 18:15] robbertkl commented on #15
You could, however, try using `com.docker.network.bridge.host_binding_ipv6` on a user-defined network, like is explained in the README.

[2017-11-21 18:19] mettke commented on #15
Docker does support Ipv6 Ports.
My command was wrong the correct one is:
[code]
Also using docker-compose.yml ports can be defined using:
[code]
More info at https://github.com/docker/compose/issues/5020

[2017-11-21 18:20] mettke commented on #15
And iptables from docker does not add a port forwarding as well

[2017-11-21 18:27] robbertkl commented on #15
My guess is binding to `::1` would have the userland proxy forward it. It won't add an IPv4 forwarding rule, because it's not bound to an IPv4 address and it won't add an IPv6 forwarding rule because Docker does not do IPv6 NAT.

[2017-11-21 18:28] robbertkl commented on #15
Just to be clear, are you still having an issue now you have the correct command? If so, I'll reopen.

[2017-11-21 18:33] mettke commented on #15
I just posted the incorrect command. The issue is still there.
I might be mistaken but as far as I understand it
[code]
are made for the same purpose. To expose a port only to the host and not to the outside.
127.0.0.1 however only works for ipv4 and [::1] for both

docker-compose added that functionality as well only that they use
[code]
(for whatever reason instead of ::1) as replacement for "12

[2017-11-21 18:43] mettke commented on #15
Ok now I see my problem. docker compose can use ::1:8080:8080 as well.
With that there are still unnecessary rules created but they are not a problem 'cause they are bond to localhost

[code]

Sorry for the heat. Works pretty nice now :+1:

[2017-11-21 18:53] robbertkl commented on #15
No problemo. Thanks for reporting! ipv6nat doesn't really treat localhost any differently, which is why you'd see that rule I guess.

Also, still not really sure what a published port with an IPv6 address binding would do in regular Docker without ipv6nat, aside from maybe altering the userland proxy behavior. I was under the impression that Docker's IPv6 support is meant for giving containers glo

[2017-12-19 19:38] Strayer opened #17 "Possibility of getting this working with nftables"
I've been using docker-ipv6nat for a while on my old server and am pretty happy with it. On a new server I intended to use nftables, which is basically working fine, using [this guide](https://stephank.nl/p/2017-06-05-ipv6-on-production-docker.html).

The problem I have is that I can't use static assigned IP addresses, since this isn't supported in docker-compose. (at least in version 3 files, ver

[2017-12-19 22:40] robbertkl commented on #17
I'd like to keep docker-ipv6nat as close to Docker as possible, as far as functionality. I'm not sure if Docker supports nftables and I don't have any experience with nftables myself.

If you could replace your ip6tables command with a wrapper that uses iptables-compat, shouldn't it work, without modifying docker-ipv6nat?

[2017-12-20 05:33] Strayer commented on #17
It actually doesn't (https://github.com/moby/moby/issues/26824). While thinking a bit more about this I realized that docker-ipv6nat would have to set IPv4 forward rules in this case too, since you (have to?) disable iptables in Docker completely so it doesn't mess with nftables.

After creating the issue I checked out the go-iptables library docker-ipv6nat is using and realized it simply calls ip

[2018-01-28 02:31] blockmover opened #18 "Container has always latest added ipvt"
Thanks Robbert for the tool it's really really great and it help me a lot.
I run several containers and each gets a unique network and should connect to the outside world with it a dedicated ipv6 from the host. When I run your container all my other container use the latest ipv6 from the host.
To fix that I had to run
sudo ip6tables -t nat -I POSTROUTING -s fd00:dead:ab::/48 -j SNAT --to-source [i

[2018-01-29 21:00] robbertkl commented on #18
Hi @blockmover, thanks for reporting!

I don't have that issue myself, it works without the SNAT rule here. Let's figure out what's different from your setup and why it's needed.

What about IPv4. Does your docker also add a similar rule to your IPv4 iptables? (check output of `iptables-save`)

If you know how and when this rule is needed, a PR for this project would also be very welcome!

[2018-02-05 09:57] amjd opened #19 "Cannot resolve host error inside container"
Hi,

I am not able to get IPv6 to work inside a container with docker-ipv6nat. The host machine has IPv6 support, and even the containers seem to support IPv6 when run with `--net=host`. This is what I did:

I created a user-defined network according to the README file as below:
[code]

Then I started the docker-ipv6nat container:
[code]

Then I ran my own container:
[code]

Within this container,

[2018-02-05 10:04] robbertkl commented on #19
Can you check a couple of things:

- Do you see any error messages in the log output of your ipv6nat container?

- Run `ip6tables-save` to output the IPv6 rules and see if ipv6nat has created the necessary rules.

- Try pinging an IPv6 address directly, instead of a hostname, so that we can be sure if the problem is DNS only, or IPv6 connectivity in general. For example:

[code]

[2018-02-05 16:09] MorbZ commented on #19
I have the same problem. Even better I can't ping6 from the host anymore after starting the first container with `--net=ipv6net`. Same when I use the default Docker bridge with IPv6. It works again when I stop the docker-ipv6nat container.
- No log messages from the ipv6nat container
- `ip6tables-save`output:
[code]
- `ping6 2001:4860:4860::8888` from within `docker run --rm --net=ipv6net -it alpi

[2018-02-21 19:30] amjd commented on #19
Sorry about the late reply, but setting some sysctl properties (mentioned below) solved this issue for me. I am using Amazon's default AMI for ec2 so these commands should work on RedHat-like OSes. This part of my shell script to setup the host machine is relevant here:

[code]

Just adding this here in case it might help others who come across the same problem. cc: @MorbZ

Thanks @robbertkl for c

[2018-02-21 19:38] robbertkl commented on #19
I'm sorry, I've missed your last comment @MorbZ

Indeed, the problem is with `*.forwarding` on IPv6, it disables accepting router advertisements even if `*.accept_ra` is set to 1. Use a special value of 2 to set it to always accept router advertisements, even if forwarding is enabled. See for example [this link](http://strugglers.net/~andy/blog/2011/09/04/linux-ipv6-router-advertisements-and-forwa

[2018-02-21 19:38] #19 closed

[2018-02-21 21:24] robbertkl commented on #18
Closed due to inactivity. Just reopen if needed.

[2018-02-21 21:24] #18 closed

[2018-03-14 20:58] denji commented on #17
nftables is also no longer considered a modern solution, with the advent of bpfilter https://marc.info/?l=linux-netdev&m=151878844503670&w=2

[2018-03-14 21:56] Strayer commented on #17
Eh, I don't think so? At least not for this reason. nftables is stable and ready to use in Debian Stretch. Who knows when bpfilter will turn up in stable distributions. I mean, just read the first sentence in the linked mailing list thread:

LWN has an article on it dated Feb 19 that states in conclusion:

Regarding closing this issue: I'm usually against having open issues that only document a sp

[2018-03-14 21:59] robbertkl commented on #17
Thanks for the extended explanation! I'll close this then, since it's out-of-scope for this project.

[2018-03-14 21:59] #17 closed

[2018-03-29 07:27] amjd commented on #19
@robbertkl: Not sure if this is the best place to ask this, but could you share some insight on how `docker-ipv6nat` is different from the following iptables rule?

[code]

[2018-03-29 08:55] robbertkl commented on #19
Hi @amjd, `docker-ipv6nat` adds a lot more rules than that, the same rules that Docker adds for IPv4. Among other things, it creates rules for published ports (`docker run -p 3000:80 ...`).

[2018-04-08 02:41] navossoc commented on #5
Just a note. I'm using this way:

[code]

It is working for me, but I think NET_RAW is not really needed.
I still need to test it more.

[]'s

[2018-04-08 03:38] navossoc opened #20 "IPv6 stop working on host"
**Information:**
- Debian 9.4 x64
- Docker version 18.03.0-ce, build 0520e24
- docker-compose version 1.20.1, build 5d8c71b
- docker-ipv6nat.amd64: v0.3.2
- robbertkl/ipv6nat:latest

**How to test:**

Configure ipv6 on the default bridge network adapter:
`/etc/docker/daemon.json`

[code]

Execute on the host:
`ping6 google.com`

You will see the ping working properly.

Execute the ipv6nat containe

[2018-04-08 12:11] navossoc commented on #20
Sorry, I made more tests on different providers and I found the issue, it is not related to debian 9.

The problem is how Digital Ocean set up the network on Debian.
They are using virtual network interfaces.

**Original**
[code]

**Fix**
[code]

Not sure if a fix is really needed, since is pretty simple to workaround this.

[]'s

[2018-04-08 12:11] #20 closed

[2018-04-08 13:16] robbertkl commented on #20
Thanks for following up!

[2018-04-09 10:55] amjd commented on #19
@robbertkl Thanks the for clarification. :)

[2018-05-01 03:45] LuckyFellow opened #21 "Fixed ipv6 address for outgoing connections"
Thank you very much for your work!

Is it possible to define the outbound ipv6 address for a network / container?

The inbound definition works fine, but if my container connects to a remote host, it seems the first ipv6 address found is used to create the connection.
This is unfortunate, because in case of a mail server, the sending ip might not get validated by a SPF record.

This is solveable b

[2018-05-01 14:49] robbertkl commented on #21
I think this is the way it works by default. Depending on your default route, you usually have 1 IP which is used for outgoing traffic.

In my setup, I have only 1 IPv4 and 1 IPv6 address, which is why I use IPv6 NAT. I'm therefore not sure how Docker handles it with multiple IPv4 addresses, but I would think it works the same (Docker just creates the necessary iptables rules, which is what ipv6na

[2018-05-01 15:36] LuckyFellow commented on #21
Thank you for your reply. I understand, that this is no ipv6nat issue.

This is the corresponding docker feature request: https://github.com/moby/moby/issues/30053

There is a way to solve it, if one creates his own iptables rules, but yet there is no configuration setting to have docker handle it autmatically.

[2018-05-01 15:43] robbertkl commented on #21
Thanks for the info! I've just subscribed to the issue.

I'd like to mirror docker as much as possible, so if this ever gets Docker support, I will look into getting it into ipv6nat.

[2018-05-31 16:42] denji commented on #17
@Strayer https://lkml.org/lkml/2018/5/21/1178

[2018-09-15 23:03] bephinix opened #22 "Use new isolation scheme"
Docker now uses DOCKER-ISOLATION-STAGE-1 and DOCKER-ISOLATION-STAGE-2 to isolate traffic on bridges. As we want to mirror Docker, we should also move to the new isolation scheme.

https://github.com/docker/libnetwork/blob/d0ae17dcfaa1f21e3b0f5d55bba4239f08489640/drivers/bridge/setup_ip_tables.go

[2018-09-15 23:03] bephinix commented on #22
/cc @robbertkl

[2018-09-16 00:14] JonasT commented on #22
Sorry if this is a bad time to bring this up, but this just reminded me that this exists and just sits there: https://github.com/docker/libnetwork/pull/2023 - given docker folks can be somehow convinced to finally merge this, it might make it unnecessary to constantly update docker-ipv6nat to keep up with things. Not sure that will ever happen though

[2018-09-16 06:39] #21 closed

[2018-09-16 06:47] robbertkl commented on #22
@JonasT Yes, I'm aware. I'm subscribed to the same issue, but I'm getting the idea it will never get merged. I wish it will, though: I'd also rather have this built-in to docker itself.

[2018-09-16 06:51] robbertkl commented on #22
@bephinix Thanks for reporting, this is news for me. Not sure when they added this, but my Docker for Mac install already has this (18.06.1-ce). You're right, this should be mirrored in ipv6nat as well.

I guess it's finally time to ask the docker daemon what version it's running and do different things, based on the docker version, to make it stay compatible (mirrored) with older versions.

[2018-09-16 07:49] bephinix commented on #22
@JonasT You are absolutely right, but we need a nearly perfect workaround solution until the merge is complete.
@robbertkl Can you estimate how hard it is to mirror this new isolation scheme?

[2018-09-16 08:53] bephinix commented on #22
@robbertkl
Simply start a VM (debian) and install docker-ce.
`/etc/docker/daemon.json`:
[code]

Restart and run:
[code]
You will see the differences in "-t nat" and "-t filter" of iptables/ip6tables.

[2018-09-16 11:57] robbertkl commented on #22
Yeah, I've already seen it on my Docker for Mac instance. Can't give you an estimate yet, have to look into it but unfortunately not much free time at this moment.

[2018-09-16 20:16] bephinix opened #23 "No ICC for IPv6 nework if "--internal" is used"
## Problem/Bug

Running a fresh Docker CE system without the default bridge and only a custo network created with the following command:
[code]

iptables (IPv4) FORWARD (and referenced) chains:
[code]

ip6tables (IPv6) FORWARD (and referenced) chains:
[code]

***As you can see, ip6tables is missing a rule to allow traffic between containers on such an "--internal" network.***

## Solution/Fix

We

[2018-09-16 20:17] bephinix commented on #23
@robbertkl I will create a MR/PR.

[2018-09-16 20:35] bephinix commented on #23
Oh, I forgot. Just copied it from my terminal. :+1:

[2018-09-19 18:44] chris42 opened #25 "DOCKER-USER chain is missing and pushed to end if created"
Hi there,
just started using this, thanks for the great work.
I noticed, that the DOCKER-USER chain for custom ip6tables rules is missing. It would be the first in the FORWARD chain.
Normally I create the rules before starting docker or this container.However with this container the ipv6nat chains get inserted before the existing DOCKER-USER chain.
Would be nice, if the DOCKER-USER could stay firs

[2018-09-19 18:51] robbertkl commented on #25
Hi, thanks for reporting. I was recently made aware that Docker made some changes with their chains, see the other issues. Perhaps this is related to the other ones.

Currently, I don't have time yet to dive into this, so PRs are very welcome.

[2018-09-19 18:58] chris42 commented on #25
Thanks for the quick response, sadly I am really just a user. Will see if I can try to tinker, but it will take a few weeks.

Also put some comments on the main issue within libnetwork, to get native support for IPv6 NAT. My experience is, that you need it to use IPv6 properly on AWS EC2 instances. Hope that helps to motivate Docker.

[2018-09-19 18:59] robbertkl commented on #25
Yeah, just got a notification of your comment there as well, thanks! It would really be best to have this integrated in Docker itself, instead of having to play catch-up all the time.

[2018-09-26 22:57] j7an opened #26 "IPv6 gateway"
I'm currently testing out ipv6nat. It seems to work well. I noticed the docker network command does not specify a gateway `docker network create --ipv6 --subnet=fd00:dead:beef::/48 mynetwork`. So only the IPv4 subnet has a gateway when I run `docker network inspect mynetwork`

Should a gateway be specified for IPv6? Would Nginx container see a visitor's real IPv6 address without a IPv6 gateway def

[2018-09-27 10:12] robbertkl commented on #26
I'm using "Option A" myself, using startup flags for the Docker daemon: `--ipv6 --fixed-cidr-v6=fd00:dead:beef::/48`. This does automatically create a gateway:

[code]

Not sure about user-defined networks, but would be very easy to try out. If we do need to set a gateway when creating the IPv6 user-defined network, I will change the instructions in the README, so please let me know if you happen

[2018-09-28 15:52] j7an commented on #26
Looks like an IPv6 gateway wasn't necessary for what I was trying to accomplish. Thanks for creating this project. I've been trying to get Nginx container work with IPv6 for several months. I created a pull request using your project at [IPv6 NAT](https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion/pull/98). You're welcome to look at the PR and let me know if improvement

[2018-10-02 21:17] #26 closed

[2018-10-11 17:01] #23 closed

[2018-12-27 19:50] j7an commented on #5
@robbertkl Could we reopen this issue? I can submit a PR to update the readme from @navossoc's findings if you like, but don't have a VPS to test at the moment.

[2018-12-27 22:43] robbertkl commented on #5
Sure, I'm always open to PR's. Especially if it's just a README addition. I've reopened.

[2019-01-25 18:18] magnific0 opened #28 "Synology NAS: unable to detect hairpin mode (is the docker daemon running?)"
I'm trying to run docker-ipv6nat as part of Mailcow dockerized on my Synology NAS DS918+. This particular docker keeps on restarting and reporting:

    unable to detect hairpin mode (is the docker daemon running?)

All the other Mailcow dockers and several others run fine. I am sure this is something Synology related. I have attached system related information below. I'm not so familiar with dock

[2019-01-25 22:58] robbertkl commented on #28
Hi @magnific0, is IPv6 enabled on the machine and docker daemon and container? Can you try running `ip6tables-save` on either the host or from within the container?

[2019-01-26 10:44] magnific0 commented on #28
Hi @robbertkl, thanks for the quick reply. ipv6 is enabled and `ip6tables-save` gives me no output on the host. The container keeps on restarting, so I have no idea on how to access that. I have noticed from the `docker-compose.yml` file that ipv6nat is in `network_mode: "host"`. Querying the networks, I get:
[code]

So I guess that `"EnableIPv6": false,` is not looking good here. I'll look into w

[2019-01-26 11:43] robbertkl commented on #28
Yeah, the Docker daemon needs to have IPv6 enabled, which can be done in multiple ways depending on your linux distribution. Sometimes there's a configuration file, sometimes you can set command line flags for the daemon in some file. Good luck!

[2019-04-10 23:58] chschu opened #29 "ip6tables rules (silently) not added due to invalid index"
If ```firewall.EnsureRules(...)``` detects an existing rule, the corresponding ```ruleCounters``` entry is not incremented. When a docker container disconnects from a network later on, ```firewall.RemoveRules``` decrements the counter, making it negative.

go-iptables reports an error, which unfortunately gets ignored there: https://github.com/robbertkl/docker-ipv6nat/blob/38c8e824ec83b048d4c8f0ba

[2019-04-11 23:04] robbertkl commented on #29
Hi @chschu, great find and thanks for taking the time to dive into the cause of this! I believe I once used `Append` to add the non-prepend rules, but people with existing IPv6 firewall rules were running into problems: the appended rules were added after the pre-existing rules and the prepended rules before. In order to fix this I created this running count of rules created by ipv6nat to always i

[2019-04-12 15:16] chschu commented on #29
Thanks for your response, @robbertkl. You're right, ipv6nat should probably never add any rules after any pre-existing rule.

Incrementing the ```ruleCounters``` entry when inserting a rule seems to be fine, but it must not be decremented when deleting a pre-existing rule.

A possible solution: Mirroring the added/removed rules for each chain as keys in a ```map[string]bool``` and using the length

[2019-04-16 20:48] robbertkl commented on #29
I've implemented your solution and from what I've tested it works like a charm. I've created a new release ([v0.3.5](https://github.com/robbertkl/docker-ipv6nat/releases/tag/v0.3.5)) and I'm running it in production now to see if any problems arise. Docker images for this version will be done building soon.

Thanks again! Let me know if the issue is resolved on your end as well.

[2019-04-16 20:48] #29 closed

[2019-04-17 18:39] #5 closed

[2019-04-23 07:56] chschu commented on #29
Works like a charm for me. Thanks @robbertkl for the quick fix and release!

[2019-04-23 21:32] movd opened #31 "Feature Request: Log ip6tables rules beeing added or removed to stdout"
This tool works great!
For debugging purposes, it would be nice if actions like rule changes would be logged to `stdout`.

[2019-04-23 21:41] robbertkl commented on #31
Thanks @movd, that's true. Should be an optional flag, to not generate too many docker logs.

I'm open to a PR on this, shouldn't be that complicated.

[2019-05-25 21:25] celogeek opened #33 "ipv6nat stop working after docker update"
Hi,

I have got this error since my docker upgrade:

[code]

My docker version:
[code]

My nat table:
[code]

I have disabled ipv6 for now. Can I do something to fix this?

thanks

[2019-05-26 10:31] robbertkl commented on #33
I'm not sure where those errors come from, ipv6nat runs ip6tables, not iptables. It seems something else is going on here.

I can take a look, but please give me your run command (or docker-compose section) for ipv6nat and output of both `iptables-save` and `ip6tables-save`.

[2019-05-26 11:19] celogeek commented on #33
iptables-save:

[code]

ip6tables-save:
[code]

docker-compose.yml:
[code]

[2019-05-26 11:22] robbertkl commented on #33
And this output is with ipv6nat running? Or did it exit at this time? I'm asking because you're using `--cleanup` which removes all the rules on exit.

Can you do a `docker-compose up -d --force-recreate ipv6nat` and after that send me the `docker logs`?

[2019-05-26 11:25] celogeek commented on #33
I have removed the command section and run the recreate:

[code]

[2019-05-26 11:31] celogeek commented on #33
The ipv6nat wasn't running because it fails at the start with that log.

[2019-05-26 11:37] robbertkl commented on #33
OK, it craps out trying to detect hairpin mode in the IPv4 firewall. Could you try:

[code]

[2019-05-26 12:15] celogeek commented on #33
[code]

[2019-05-26 15:31] robbertkl commented on #33
Can you try the same but with `--privileged` instead?

[code]

[2019-05-26 15:50] celogeek commented on #33
The output is empty.
When I run docker-ipv6nat again:
[code]

[2019-05-26 16:18] robbertkl commented on #33
So when you're running `iptables-save` from within a privileged, net=host ipv6nat container it shows no IPv4 rules, but when you run `iptables-save` on the host it does show IPv4 rules?

I've just tried the same on a test host running Docker 19.03.0-beta3, and I still see the IPv4 rules from within the container, so no way to reproduce it on my end.

[2019-05-26 16:20] celogeek commented on #33
Sorry I run the ip6tables command.
Here the output:
[code]

[2019-05-26 16:25] robbertkl commented on #33
Sorry, I'm a bit confused, this output is different than before again. Can you please post all 3 outputs:

1. `iptables-save` (on the host)
2. `docker run --rm -it -v /var/run/docker.sock:/var/run/docker.sock:ro -v /lib/modules:/lib/modules:ro --net=host --cap-add=NET_ADMIN --cap-add=SYS_MODULE --entrypoint iptables-save robbertkl/ipv6nat`
3. `docker run --rm -it -v /var/run/docker.sock:/var/run/d

[2019-05-26 16:30] celogeek commented on #33
Despite my provider give me only a /128 block, it seems I can have a /64 block anyway.
They are not limiting the ipv6 assignation on my /64 block.

I have reconfigured my docker to handle ipv6 block /80.
All my containers have a public IP address now, and it seems to connect to the host with ipv6 on a container port (SMTP for example) redirect properly but in a weird way.
HOST ipv6 -> Host docker

[2019-05-26 18:16] celogeek commented on #33
well, ipv6 sucks with docker. I will disable ipv6 on my host. It is not really useful.
If that evolves, I may reenable it.
Or I may look out for an alternative.

[2019-05-26 18:33] robbertkl commented on #33
Yeah, it does suck big time. However, I've been running it with ipv6nat for years without any issues. Not sure what your issue is; your container not being able to reach the (IPv4) firewall rules seems to be the cause of ipv6nat crashing, but why this is happening I don't know. Are you by any chance using SELinux? I can't reproduce it myself, so it's hard to debug.

[2019-05-26 19:14] celogeek commented on #33
I'm on debian/buster, the latest kernel on this system.
I also have the latest (non-beta) version of docker/docker-compose.
It seems to hide iptables rules indeed inside the container which cause the issue here.

[2019-05-26 19:24] robbertkl commented on #33
Yeah, I'm curious to know what's causing it. Even on 19.03.0-beta3 I could not reproduce it, so it must not be a Docker thing. Perhaps it's something kernel-related.

[2019-05-26 19:24] celogeek commented on #33
Can you test it with debian/buster ?

[2019-05-26 20:23] celogeek commented on #33
Maybe it would be possible and safer to run your companion on the host directly? Something like a service that starts with docker?

[2019-05-26 21:12] celogeek commented on #33
The kernel:
[code]

[2019-05-26 21:14] robbertkl commented on #33
Running on the host is a great idea, that should work since it should be able to access the firewall there.

I'll try to do some tests with buster / later kernels soon.

[2019-05-26 22:31] robbertkl commented on #33
OK @celogeek, just did 2 clean Debian VM installs (1 stretch @ 4.9.0-9, 1 buster @ 4.19.0-5) and installed Docker stable (18.09.6).

Then tried reading iptables from within a (privileged, net=host) container on both:
* on stretch it worked
* on buster it did not (no rules)

It seems the problem is buster using nftables (see https://wiki.debian.org/nftables). I managed to get it working by switchin

[2019-05-26 23:37] celogeek commented on #33
Nice catch!

Did you try directly on the host? without a container?

[2019-05-27 00:37] robbertkl commented on #33
Yes, you can either switch to legacy iptables like above, or run ipv6nat directly on the host. On the host it will use the iptables/ip6tables commands that are linked to the special nftables compatibility versions.

This same approach would also work from within the container (auto translating iptables to nftables), so I'm working on a fix for the Docker image to support this. I just need to figur

[2019-05-27 16:55] robbertkl commented on #33
Hi @celogeek , just released a new version of the docker images with support for nftables, so it should work again with your previous setup, unchanged. Could you test this?

[2019-05-27 19:01] celogeek commented on #33
Yes of course.
I will need to reactivate ipv6 on my server.
I do that as soon as possible.

I guess you have try in debian/buster/nfptables condition ?

[2019-05-27 20:50] robbertkl commented on #33
Yep, tried it and as far as I could see it starts just fine.

[2019-05-28 18:52] celogeek commented on #33
test done
it doesn't work.

here the error I got:
[code]

in dmesg:
[code]

[2019-05-28 22:24] robbertkl commented on #33
Yeah, I'm seeing this same error now. Seems like a bug in the compat scripts, because we're obviously using protocol 6. Doing an `ip6tables-translate` did not generate an error.

You're right about `ip6tables-nft`, this is what I wanted to use, however I'm using Alpine Linux as a base image and their iptables is running behind.

[2019-05-28 22:30] robbertkl commented on #33
Wait, this is great, there's a Alpine ip6tables 1.8.2-r1 package in edge now, built just YESTERDAY 😄

I'll go check it out.

[2019-05-29 20:04] bstegmaier75 opened #34 "ip6tables error"
I tried to use ipv6nat with docker-ce 18.09.6~3-0~debian-buster on a current Debian Testing.
A sample nginx container is running on an IPv6 enabled network configured as fd01::/64.

When I start ipv6nat (using docker-compose up) I get the following error:

dmesg shows:

I am running nftables on the host machine.
Stock docker IPv4 NAT works fine.

[2019-05-29 20:05] robbertkl commented on #34
Hi @bstegmaier75, thanks for reporting. I'm aware of the issue (see discussion at #33) and working on a fix. I'll leave this bug open until it's fixed.

[2019-05-29 20:07] bstegmaier75 commented on #34
OK, sorry, didn't read #33 until the end...
Anyway... thanks!

[2019-05-29 20:08] robbertkl commented on #33
I got a bit further by using 1.8.1-r1 and `ip6tables-nft`, but now I ran into an issue with go-iptables, I reported it here: https://github.com/coreos/go-iptables/issues/59

There's not really a workaround with the current version, so I'll fix the issue to get it working. Should be done soon, I'll let you know. I'll reopen this issue.

[2019-05-29 20:08] robbertkl commented on #34
Yeah, sorry, #33 was closed prematurely 😉

[2019-05-30 00:57] robbertkl commented on #33
@celogeek Could you please test again with the latest release? Thanks!

[2019-05-30 00:58] robbertkl commented on #34
@bstegmaier75 could you pull the latest image and try again? Thanks!

[2019-05-30 07:53] bstegmaier75 commented on #34
Seems to work fine now, thanks!

It doesn't work to connect to the webserver, but from what I see IPv6 config of my local interfaces seems to be completely broken (I tried various things)... I have to fix that first.

That's what has been generated for a single port 8000:80 mapping:

[2019-05-30 08:25] bstegmaier75 commented on #34
Reboot seems to have fixed IPv6 config for all interfaces.
But, still can't connect to webserver via IPv6 address.
I can ping the host with its IPv6, so in general IPv6 setup should be OK.

I am no expert on nftables and I still have find out yet how to setup the NAT rules manually, but there is one thing I am not sure about:

In several places there is something like that:

Interesting is "... me

[2019-05-30 08:55] celogeek commented on #33
yes sure. testing it right now.

[2019-05-30 08:57] robbertkl commented on #34
I don't think that's the problem, those are matches and they're split up a bit differently:

```meta l4proto tcp ip6 saddr fd01::2 ip6 daddr fd01::2 tcp dport 80 counter packets 0 bytes 0 masquerade```:
* `meta l4proto tcp`
* `ip6 saddr fd01::2`
* `ip6 daddr fd01::2`
* `tcp dport 80`
* ...

```meta l4proto tcp tcp dport 8000 counter packets 10 bytes 840 dnat to [fd01::2]:80```:
* `meta l4proto tcp

[2019-05-30 09:55] celogeek commented on #33
It works !!! congrat.

Everything is back to normal now.

I will take a vps with ipv6 connectivity and play with real ipv6 config (no nat).
It seems to be not so easy to do a firewall with docker / ufw / ipv6.

This would be a good challenge ;)

A very great companion for docker would be something like this tools, that disable incoming connection and redirect port to the one inside but with real i

[2019-05-30 10:22] robbertkl commented on #33
Good to hear it's working! I'll close the issue now.

[2019-05-30 10:22] #33 closed

[2019-05-30 12:09] bstegmaier75 commented on #34
ip6tables-save on host:
[code]

Looks pretty much the same as the IPv4 stuff, as far as I can see.

Route should be also OK:
[code]

[2019-05-30 12:18] robbertkl commented on #34
Yeah, this looks OK. Are you sure the problem is with docker-ipv6nat or could it be something else in your IPv6 setup? Was everything working properly before you upgraded to buster?

[2019-05-30 12:28] bstegmaier75 commented on #34
No, not sure that it is with ipv6nat.
I (tried to) set it up for the first time yesterday.

I checked the counters of the various rules and they don't change when I try to connect, so it seems as if I don't even reach the host and I probably have some problem with my IPv6 setup.

Just to be sure: I have my router configured to announce a fd00:: ULA to my local network and the docker network to be

[2019-05-30 12:31] robbertkl commented on #34
I'm not familiar with a setup like that, but it should be good as long as the ULA prefixes are different. I (and most users) have a publicly available IPv6 address on a server and use a ULA for the Docker with NAT.

[2019-05-30 12:50] robbertkl commented on #34
Try to get basic IPv6 connectivity working first, can you ping6 from the host?

I'll close the issue now, since the original error was resolved. I've got confirmation in #33 that everything is working now with buster/nftables. Feel free to continue discussion here to get your setup working.

[2019-05-30 12:50] #34 closed

[2019-05-30 13:09] bstegmaier75 commented on #34
Silly me.
Some leftover firewall rules from my before-docker setup caught traffic from docker network to host.
Removed them and everything is working as it should.

Thanks for the support!

[2019-05-30 13:10] robbertkl commented on #34
Great! Have a good day.

[2019-06-04 01:26] Chrislevi commented on #12
Is there atleast any workaround that could work with overlay network? I used network host to achieve egress on ipv6 but cant work along with additional overlay network.

[2019-06-04 01:30] robbertkl commented on #12
As I said, I don't have any experience with this. You could try mimicking the iptables (IPv4) rules for ip6tables to see if you can recreate the desired behavior for IPv6.

[2019-06-11 15:11] Chrislevi commented on #12
@robbertkl I've managed to make ipv6nat and swarm work.
When you run `docker swarm init` a default `bridge` for the swarm is created named docker_gwbridge which is equivalent to docker0 for standalone docker engines. the thing is that it's configured by default to prevent ip_forwarding.

The workaround that I did was to create the bridge before I initialize the swarm.
running this command as an ex

[2019-06-13 14:34] robbertkl commented on #12
Hi @Chrislevi thanks for the info! If you could add a section to the README explaining this, I'd be happy to merge it 👍

[2019-06-13 21:00] robbertkl commented on #12
PR of @Chrislevi added some useful information to the README (#35). I think this is as far as support for swarm mode will go, so I'm going to close this issue. I hope the suggested workaround is an acceptable solution for most of you.

[2019-06-13 21:00] #12 closed

[2019-08-12 21:01] bephinix commented on #22
Any update on this?

[2019-08-12 21:06] bephinix commented on #25
@robbertkl I will check this tomorrow.

[2019-08-12 21:19] bephinix commented on #31
Ok, let's check this.

I have found the following [line](https://github.com/robbertkl/docker-ipv6nat/blob/master/manager.go#L128):

[code]

We want to log all rule changes which are (maybe) empty list of added rules and remove rules.
If a rule is changed, this will be reflected by a removed and an added rule.
The marked line seems to save all removed rules to `oldRules`.
This seems to be the best

[2019-08-12 21:27] bephinix commented on #31
The actual logging command should be inserted [here](https://github.com/robbertkl/docker-ipv6nat/blob/master/firewall.go#L150) and [here](https://github.com/robbertkl/docker-ipv6nat/blob/master/firewall.go#L193) one line after the iptables action.

[2019-08-12 21:39] robbertkl commented on #31
@bephinix

Better to add it within `EnsureRules` and `RemoveRules` within firewall.go.

You're right, it would be better to introduce a new variable (something like `rulesToRemove`) instead of re-using the `oldRules` variable.

Yeah, that seems like a better place.

Would still like it sitting behind an optional flag, off by default.

[2019-08-12 21:41] robbertkl commented on #22
No progress, sorry..

[2019-08-13 08:28] bephinix commented on #31
#37 will implement it.

[2019-08-13 19:49] bephinix commented on #25
Okay, it is hard to implement it wirh `coreos/go-iptables`. Docker's libnetwork implementation has functions like `EnsureJumpRule` which will break it down to such a code block which has to be called once one startup because the DOCKER-USER chain must not be deleted:

[code]
@robbertkl Any ideas how we can achieve this with `coreos/go-iptables`?

[2019-08-13 20:14] bephinix commented on #22
It was implemented by this [MR](https://github.com/docker/libnetwork/pull/2117) especially this [commit](https://github.com/docker/libnetwork/commit/1c73b1c99c14d7f048a2318a3caf589865c76fad).
This was done to reduce startup time for docker as many iptables rules were generated. WIth the mentioned MR the complexity was reduced from `O(2^n)` to `O(2n)`, as you can read [here](https://github.com/moby

[2019-08-13 20:18] bephinix commented on #22
_Fun-Fact: Current network handling is causing some problems with external ports, [see here](https://github.com/moby/moby/issues/38784)._

[2019-08-13 20:25] bephinix commented on #22
### Summary

##### Stage 1

If a packet from an internal network should be forwarded to another bridge or if a packet from another bridge should be forwarded to an internal network, this packet will be dropped.
If a packet from an non-internal network should be forwarded to another bridge, Stage-2 will be entered.

##### Stage 2
All packets entering this stage come from an docker network and shoul

[2019-08-14 12:34] bephinix opened #40 "ADDRTYPE rules are missing in POSTROUTING NAT chain"
Current IPv4 POSTROUTING chain:

[code]

Current IPv6 POSTROUTING chain:

[code]

**As you can see, for each masqueraded network the `ADDRTYPE match src-type LOCAL` rule is missing.**

These missing roules will masquerade packets when they enter the network bridge. We should copy this, so Docker's IPv4 and Docker's IPv6 share the same behavior.

[2019-08-16 19:32] Robby- commented on #25
I also noticed the `DOCKER-USER` chain was missing in IPv6 and ended up here.

@bephinix Thank you for working on a PR to fix this issue.

However, I noticed that there is a `DOCKER-ISOLATION` chain in IPv6 as well, but this chain no longer exists in IPv4, and in IPv4 the following additional chains are created:
`DOCKER-ISOLATION-STAGE-1`
`DOCKER-ISOLATION-STAGE-2`
Shouldn't these 2 chains be adde

[2019-08-16 19:35] robbertkl commented on #25
I believe this also addressed by @bephinix in #22 / #38

These PR's will be reviewed / merged soon.

[2019-08-16 19:37] Robby- commented on #25
Oh! Awesome, thank you.

[2019-08-16 20:03] bephinix commented on #25
@Robby- You are welcome! As of now, it seems that all issues have a corresponding PR. IP6Tables should look the same as IPTables does. :+1:

[2019-08-19 10:51] bephinix commented on #40
**Update: `ADDRTYPE match src-type LOCAL` rules are always added, if the network is not internal. It does not matter if the network is masqueraded or not. PR was updated.**

[2019-09-01 07:45] bephinix commented on #22
@robbertkl Do you know when you will be able to review the open MRs?

[2019-09-14 15:57] chris42 commented on #25
Any progress on the review? If you create a test version, I can also run some tests.

[2019-09-14 16:07] bephinix commented on #25
@chris42 You maybe want to checkout my test branch which contains all open merge requests: [sys/prerelease](https://github.com/bephinix/docker-ipv6nat/tree/sys/prerelease)
There is also a precompiled binary for the current commit: [docker-ipv6nat.amd64.v0.3.8-17-gee199a7](https://gitlab.com/bephinix/bidomirror/blob/develop/docker-ipv6nat/docker-ipv6nat.amd64.v0.3.8-17-gee199a7)

[2019-09-14 16:27] chris42 commented on #25
@bephinix So I would copy your binary into my docker and replace the old binary?

[2019-09-14 22:15] bephinix commented on #25
@chris42 You have to install docker-ipv6nat as described in its README. Simply replace "docker-ipv6nat" binary with the precompiled binary, although I recommend to compile it yourself if you want to debug it.

[2019-09-16 11:52] #31 closed

[2019-09-16 11:53] #40 closed

[2019-09-16 11:59] #22 closed

[2019-09-16 12:21] #25 closed

[2019-09-16 12:33] robbertkl commented on #25
Terribly sorry guys, had to deal with some unfortunate family stuff so I was unable to go through the PRs.

Just merged all of them, resolved conflicts and will bake a new release soon. Wasn't able to extensively test everything yet, but the changes looked good so I'll test on the go and we can always revert again.

[2019-09-16 12:33] robbertkl commented on #22
Just merged all of them, sorry for the delay.

[2019-09-28 09:03] McBane87 opened #42 "Not able to make it work"
Sorry for bothering, but I'm just not able to get this work.
I'm on CentOS7 with Docker 1.13.1.

My /etc/docker/daemon.json looks like this:
[code]
I've created the the ipv6nat like this:
[code]

Is this enough? Should this now work out of the box?
I don't see any differences. What am I supposed to do to make the natting work?

If I create a container like this, nothing changes compared to without

[2019-09-28 09:11] robbertkl commented on #42
Please check the output of `ip6tables-save` (either on the host or within the ipv6nat container). If it works correctly it should show the created NAT rules here.

Also make sure you're not binding to a specific IPv4 address, just a port, but I see you've already edited your text to reflect this.

[2019-09-28 09:21] bephinix commented on #42
Can you run the binary without docker and pass the `-debug` flag? This should print out all rules changes performed by docker-ipv6nat.

[2019-09-28 09:59] McBane87 commented on #42
You are right, I see something if I remove the static ip-address from the `-p` option.
`-A DOCKER -p tcp -m tcp --dport 1199 -j DNAT --to-destination [fd00:172:17:1:0:242:ac11:8]:8888`

But in case I want the port to be bind to a special ipv6 address. How can I do that. Is that supported?
Things like `-p [ipv6:address]:123:456` aren't working because docker complains on run (not creation)

[2019-09-28 10:04] robbertkl commented on #42
Unfortunately, this is not possible, as it would require built-in support from Docker.

You could use `com.docker.network.bridge.host_binding_ipv6` on a user-defined network (see README), but that might not be what you want.

[2019-09-28 10:06] McBane87 commented on #42
OK. Thank you anyway. I'll figure something out...
Anyways. Nice tools ;-)

[2019-09-28 10:29] robbertkl commented on #42
Cool, good luck!

[2019-09-28 10:29] #42 closed

[2019-09-28 20:25] bephinix commented on #42
I am using Debian 9 and Debian 10 with the official Docker CE distribution and Docker-IPv6NAT. If I specify a static IPv6 address for a published port by `--publish`, a DNAT rule is created for IP6Tables.

[2019-11-17 23:40] VenusGen opened #43 "NAT stop working for incomming connections after restart"
I wrote Caddy and ipv6nat in a docker-compose file, It works very well. But after I executed the `docker-compose restart` command, I am still able to ping other v6 addresses from the Caddy container but can't receive any more incoming requests (It was able to receive when userland-proxy enabled, but Caddy couldn't get the real IP address).

I think it's probably similar to #14 , probably we need t

[2019-11-17 23:44] VenusGen opened #44 "Constantly got iptables-legacy warning in the log"
[code]

This warning appears every time when I print out logs. Is there any way to fix that?

[2019-11-18 07:08] bephinix commented on #44
This is probably caused by the fact that you have to kernel subsystems running to provide firewall functionalities for your system.

### Excerpt from own tutorial

With Debian 10 Buster there are two kernel subsystems which will handle firewall jobs for your system: nf_tables (nftables) and x_tables (iptables). In addition to that, it is possible to use the new subsystem (nftables) by configuring

[2019-11-18 07:13] bephinix commented on #43
@VenusGen You should use the `-cleanup` flag if you start docker-ipv6nat. Otherwise there might be duplicated or intefering rules if you restart docker-ipv6nat. Can you test this?

[2019-11-18 08:22] VenusGen commented on #43
It seems avoided duplicated rules now, but when it clear up the rules, it also wiped the 443 & 80 mapping...

[code]

[2019-11-18 09:36] robbertkl commented on #43
Could you please use the output of `ip6tables-save` instead of `ip6tables -L`? This would give us the full rules.

Not sure why the 80/443 rules are missing. Is your docker-compose.yml still like in your first post? Could you run ipv6nat with the `-debug` flag and take a look at the output?

[2019-11-18 09:47] VenusGen commented on #43
No, I add a line `command: --retry -cleanup -debug` after the volumes part of ipv6nat to run with those flags.

The full logs are attached below. Briefly, the log shows v6nat removed 443&80 but never add them back.

[code]

[2019-11-18 09:57] robbertkl commented on #43
So if I see it correctly, it does add the rules correctly (09:37), then removes them correctly (09:40) on quit (when restarting) but does not add them on the 2nd start (09:40, when restarting).

How did you start it the first time? (09:37) Did you start only ipv6nat at that time? Perhaps it could be some kind of race condition when restarting ipv6nat and caddy at the same time.

Could you also tes

[2019-11-18 10:01] VenusGen commented on #43
The only difference is in the 1st start I used  `docker-compose down && docker-compose up -d` to destroy whole things and rebuilt them, and in the 2nd I used `docker-compose restart`.

Caddy should start later than v6nat cause I set `depends_on: v6nat` for caddy, but not sure if docker will follow this when using restart command.

[2019-11-18 10:04] VenusGen commented on #43
If I restart them separately, whatever the sequences are, iptables keeps correct ( with full records include 80&443)

[2019-11-18 10:10] VenusGen commented on #43
Docker Compose seems don't guarantee the sequence of restart:

https://stackoverflow.com/questions/49063920/docker-service-restart-without-order-sequence-when-using-docker-compose-depends

https://docs.docker.com/compose/startup-order/

[2019-11-18 10:13] VenusGen commented on #43
Actually they are same, whenever I restart v6nat, caddy is running normally at these two situations.

[2019-12-03 15:13] thesix opened #45 "Container hangs on startup on iptables-legacy system"
Hi,

I have been fiddling around with this for a while now and finally found out, that the command `iptables-nft -L` in `docker-ipv6nat-compat` hangs indefinitely on our Ubuntu System.  This is what I see when I log on to the container:

[code]

When I kill PID 7 ipv6nat starts properly and everything seems to work.  The container looks like this:

[code]

We run `Ubuntu 18.04.3 LTS` here that has

[2019-12-03 17:49] robbertkl commented on #45
Thanks. Could you try running `iptables-nft -L` yourself from within the container (`docker exec -it ...`) to see what's going on?

[2019-12-04 13:40] thesix commented on #45
It also hangs.  Plain `iptables -L` spits out the list of rules as expected.

[2019-12-04 14:05] robbertkl commented on #45
That's strange, I'll have to look into that.. As a workaround, you should be able to use `--entrypoint /docker-ipv6nat` in your Docker run command (or `entrypoint: /docker-ipv6nat` if you're using Docker Compose).

Let me know if that works for you.

[2019-12-04 14:14] robbertkl commented on #45
Actually, are you sure your docker run command is correct?

I've just tested and if you start the ipv6nat container without `--privileged` or `--cap-add=NET_ADMIN --cap-add=SYS_MODULE` the iptables-nft command will hang.

Giving the container the correct privileges should resolve the issue. Can you confirm?

[2019-12-04 14:53] robbertkl commented on #44
Just did a new release (v0.4.2) that should resolve this issue for most cases.

[2019-12-04 14:53] #44 closed

[2019-12-04 15:01] thesix commented on #45
This is the portion of the docker-compose.yml that I use to start the service:

[code]
I just added the `entrypoint: /docker-ipv6nat` and now it works like a charm

[2019-12-04 15:14] robbertkl commented on #45
Your yml looks good to me, so I don't understand why it would be hanging, I could reproduce the hanging with incorrect docker arguments, but that doesn't seem to be the case with you.

Glad to hear the workaround is working, I'll close the issue for now, I'll keep an eye out for similar reports.

[2019-12-04 15:14] #45 closed

[2020-01-14 09:29] deshui123 opened #46 "If there is any plan for support podman/crio"
When using podman/crio instead of docker, this way cann't work well for pure IPv6

There is no docker0 interface and not DOCKER related ip6table chains

When run this container, get following issue:
2020/01/14 06:21:10 running [/sbin/iptables -t nat -C OUTPUT -m addrtype --dst-type LOCAL -j DOCKER --wait]: exit status 2: iptables v1.8.3 (legacy): Couldn't load target `DOCKER':No such file or direc

[2020-01-14 16:57] robbertkl commented on #46
Currently, there are no plans to support podman / crio. The scope of the project is to mirror Docker IPv4 NAT behavior. I'm not very familiar with podman / crio, but if it's doing its networking in a different way than Docker does, it won't be feasible to support it in this tool.

[2020-01-14 16:57] #46 closed

[2020-02-28 17:54] ADumaine opened #47 "DNAT unsupported revision"
This is a new install of ubuntu 18.04 with the kernal updated to 5.3 and docker 19.03.06

The revision error appears to be due to the host system running iptables 1.6.1 and ipv6nat using 1.8.3.
as mentioned in https://github.com/moby/moby/issues/40428

`    0     0 DNAT       tcp      !bridge-tn30 *       ::/0                 2001:570:1a18:202::30  tcp dpt:19030 DNAT [unsupported revision]`

If th

[2020-02-28 18:19] robbertkl commented on #47
Could you run `docker exec ipv6nat ls -l /sbin/iptables` for me and paste the output? Change "ipv6nat" to the name of your ipv6nat container.

[2020-02-28 21:49] ADumaine commented on #47
Sorry, I went ahead and updated the OS to 20.04 which uses iptables 1.8.4 and the error is gone.

With 20.04 the command you requested results in the following:
`lrwxrwxrwx    1 root     root            20 Feb 28 19:05 /sbin/iptables -> xtables-legacy-multi`

I think it would be helpful to others if any other solutions were listed here.

[2020-03-04 11:39] mildred opened #48 "Allow mapping IPv4 listen addresses to IPv6"
When port mapping is defined in Docker, it might be specifying a HostIP in addition to the HostPort. If the HostIp is defined, it's generally an IPv4 address. it might be great to have  docker-ipv6nat be able to convert automatically the IPv4 listen addresses to IPv6 based on some mapping.

The use case is to work with the Nomad scheduler which automatically detect the HostIP based on network dete

[2020-03-04 11:48] mildred opened #49 "Add go.mod file"
To allow development outside a GOPATH, a go.mod file could be added.

[2020-03-16 17:09] max-tet opened #51 "Binding to wireguard interface not working"
Hi,

I have a wireguard interface like this:
[code]
And I am attempting to publish a container's port on this interface for the other wireguard peers.

So I start `ipv6nat` like this:
`docker run -d --restart=always -v /var/run/docker.sock:/var/run/docker.sock:ro -v /lib/modules:/lib/modules:ro --privileged --net=host robbertkl/ipv6nat`

Then I create a network like this:
`docker network create --

[2020-03-25 22:09] ginkel opened #52 "Raspbian: Couldn't load target `DOCKER':No such file or directory"
Hi there,

I have been successfully running ipv6nat on Ubuntu 18.04 for a while now and wanted to also enable it on my Raspberry Pis running Debian/Raspbian 10. I am running the ipv6nat Docker container with the following settings (which work on Ubuntu):

[code]

Unfortunately, on Raspbian the container terminates with the following error:

[code]

Any ideas?

Thanks,
Thilo

[code]

[code]

[code]

[2020-03-25 22:28] ginkel commented on #52
Well, a little trial and error later this seems to be caused by running the container read-only (which works on Ubuntu).

[2020-03-25 22:51] robbertkl commented on #52
Hi @ginkel, thanks for reaching out!

Have never tested with read-only mode myself, it surprises me this even works (on Ubuntu at least).

The files mentioned above in `/sbin` are overwritten by docker-ipv6nat-compat. This should never work in read-only mode and is the reason it fails on your (Raspbian) setup.

The reason it *does* work on Ubuntu, can be because of a number of things:
* Perhaps yo

[2020-03-25 22:51] #52 closed

[2020-03-25 23:02] ginkel commented on #52
That makes sense (I have disabled auto-update for ipv6nat and the Ubuntu deployment has been some time ago), so I was comparing apples and oranges.

Thanks for the speedy reply, problem solved! :-)

[2020-03-27 03:29] zhangyoufu opened #53 "ambiguous debug log"
excerpt from iptables man-page:
[code]

`-A` does not accept rulenum

[2020-03-27 04:10] zhangyoufu commented on #5
It worth mention in README that `CAP_ SYS_MODULE` is only needed when we bind mount `/lib/modules` and let `ip6tables` load necessary kernel modules for us.

Personally I prefer `echo ip6_tables >/etc/modules-load.d/ipv6nat.conf` to load necessary kmod on boot, and reduce capabilities required by ipv6nat container.

[2020-03-27 04:35] zhangyoufu commented on #5
`CAP_NET_RAW` is required by iptables, but I think it can be avoided without losing any functionality.

If anyone want to patch iptables: (I didn't test it, just memo)
1. `PF_NETLINK` accept both `SOCK_RAW` and `SOCK_DGRAM` according to [netlink(7)](http://man7.org/linux/man-pages/man7/netlink.7.html)
2. netfilter sockopts should be reachable from tcp/udp sockets, `SOCK_RAW` can be avoided.

Or re

[2020-03-27 08:50] robbertkl commented on #5
Thanks @zhangyoufu, those are very useful additions. Could you send me a PR with suggested README changes regarding CAP_SYS_MODULE?

Getting rid of requiring CAP_NET_RAW would be great as well, but I’m not sure the proposed changes are worth it right now. If you think this can be done easily, I’m always open to PRs!

[2020-03-27 12:14] zhangyoufu commented on #52
I can reproduce this issue.

[code]

When `DOCKER` chain does not exists (which is true for a clean netns), iptables will treat `DOCKER` as some predefined target and looking for corresponding userspace shared library, which obviously does not exists.

You have to ensure all user-defined chains exists before checking existence of rules. Please reopen this issue.

[2020-03-29 08:31] zhangyoufu commented on #5
@robbertkl
I have proposed PR #54 on README changes.
~~I have prepared a patched version of iptables without CAP_NET_RAW, please checkout https://github.com/zhangyoufu/alpine and try. I may send a small patch to upstream.~~ I sent a small patch to upstream and was rejected.

[2020-04-17 15:42] christianbur opened #55 "Update docker-ipv6nat dockerhub Image"
I wanted to ask when the docker-ipv6nat will be refreshed?
The ["latest" image](https://hub.docker.com/r/robbertkl/ipv6nat/tags) has not been built for over 4 months (4 Dec 2019), it is still based on Alpine 3.10.3, currently 3.10.4 and golang 1.13.4. Unfortunately, docker images will only install current security updates if you rebuild the image.

Images:
   current: golang:1.13.4-alpine3.10

[2020-04-17 16:14] robbertkl commented on #55
Yes, I'm aware. 4 months isn't _that_ long imho. I usually update versions when I'm doing some changes, or at random times in between (e.g. when I get notified of new major releases).

I currently have a few issues / PRs to look at, which I will do when I have some time. That's when I will also update the versions, usually to the latest golang and alpine.

In the meantime, if you require updated v

[2020-04-17 16:14] #55 closed

[2020-04-22 05:47] christianbur commented on #55
I find four moante without updates already alarming.
I also can't update the image myself, because it is used in project mailcow.

[2020-04-22 08:36] SuperSandro2000 commented on #55
If there are no changes or security issues this can be perfectly fine.

You can. Just change the Image Version in their compose file.

[2020-04-23 18:26] christianbur commented on #55
If someone takes the trouble to always check the current security issues, it would be ok not to do any updates for a while. Since I haven't seen such an report yet, updates should be done regularly.

I am well aware of how this works, but the problem of a non-actual image does not concern me alone.

[2020-04-23 21:19] SuperSandro2000 commented on #55
This is Open Source Software no "Enterprise" so we usually don't do useless reports. If you encounter a specific issue or security issue in any dependency please open an issue about this or do a PR which mentions what you fixed.

[2020-04-24 05:59] christianbur commented on #55
You can consider this issue as security issue, I have pointed out that Alpine and golang are used in an outdated version and there is currently no regular refresh of the docker-ipv6nat image.

[2020-04-28 21:42] christianbur commented on #55
I gather from the reaction to this ticket that no importance is attached to security in this project.

[2020-05-01 14:30] doc75 opened #56 "App not available when activating ipv6nat"
I am trying to use ipv6nat, as it seems that it would allow to have ebtter IPv6 support with docker.
Indeed currently I got a generic IPv4 address in X-FORWADED-FR instead of IPv6.

I have an issue when I launch several services and it happens only for php services behind NGINX (but not for all services).

My configuration is the following:
[code]
Traefik is the only front end connected to the WWW

[2020-05-03 17:14] ginkel opened #57 "Dealing with containers that map specific IP address"
Hi there,

I recently added an extra IP address to some of my servers so I can have multiple containers listening on the same port. Is there a way to expose one of them via IPv6. Previously, I used to have `-p 443:443`, which worked fine, now I have `-p 1.2.3.4:443:443`, which no longer gets exposed via IPv6.

Any hints are much appreciated!

[2020-05-03 17:15] ginkel commented on #57
Just niticed this might be related to #48

[2020-05-03 17:19] robbertkl commented on #57
Correct, this is currently not supported, as the Docker cli has no support for IPv6 addresses in the `-p` argument. We'll need to have a separate mapping for that, but I'm not yet sure if #48 is the way to go.

[2020-05-03 18:02] bephinix commented on #57
Currently the only options is to specify the IPv6 addresses manually with `-p [fe80::1]:443:443`.

[2020-05-03 18:27] ginkel commented on #57
[code]

[2020-05-03 18:32] ginkel commented on #57
Things seem to look better if I use the public IPv6 address of the host, though

[2020-05-03 18:33] bephinix commented on #57
@ginkel
Sorry, if you want to use `fe80::/64` you need to specify the interface. The following should work:
[code]

[2020-05-04 21:07] doc75 commented on #56
Silly question, is it required to activate [ipv6 mode](https://docs.docker.com/config/daemon/ipv6/) in docker to make ipv6nat to work ?

[2020-05-05 08:17] robbertkl commented on #56
Please see the README: https://github.com/robbertkl/docker-ipv6nat/blob/master/README.md#docker-ipv6-configuration

[2020-05-10 20:52] doc75 commented on #56
@robbertkl sorry, but I misunderstood what was in the README. My fault.

We eventually understood what was going on. The issue is not related to ipv6nat, but ipv6nat revealed an issue. I am putting the explanation here in case it can help someone in the future.

Detailed explanation can be found [here](https://framagit.org/oxyta.net/proxyta.net/-/issues/9#note_721195)

**Summary**: We had two serv

[2020-05-10 20:52] #56 closed

[2020-05-10 20:54] robbertkl commented on #56
Thanks for the details! No worries.

[2020-05-14 22:44] nim65s commented on #43
Thanks for the tips. At some point, my `X-Forwarded-For` started showing a docker IPv4 when the request was made in IPv6 again, as if I just didn't had my ipv6nat container up.

I did a `docker-compose down` on my docker-file with traefik & ipv6nat, commented out ipv6nat, ran `docker-compose up`, uncommented ipv6nat, and ran `docker-compose up` again, and now it works :)

[2020-05-18 22:32] chris42 opened #58 "Internal network rules for IPv6 not working?"
Hi there,
i just moved a few container into a new internal network (created with --internal) and would have expected to see the isolation rules to be created analog to IPv4
IPv4
[code]
However the ip6tables show no such rule?
IPv6
[code]

[2020-05-27 15:28] chris42 commented on #58
Huh, no one has this problem as well?

[2020-05-27 15:31] robbertkl commented on #58
@bephinix, do you have an idea?

[2020-05-27 15:52] bephinix commented on #58
@chris42 Can you post your output for `iptables -nvL` and `ip6tables -nvL`?

I am running Docker-IPv6NAT Version 0.4.2 and created an internal network:

[code]

### IPv4 Tables Docker

[code]

### IPv6 Tables Docker

[code]

It seems, that the IPv4 rules are slightly different than the IPv6 rules, but they act the same.
We can fix this but it seems not critical to me.

[2020-05-27 16:04] bephinix commented on #58
if network.internal {
	return &Ruleset{
		// internal: drop traffic to docker network from foreign subnet
		// notice: rule is different from IPv4 counterpart because NDP should not be blocked
		NewPrependRule(TableFilter, ChainDockerIsolation1,
			"!", "-s", network.subnet.String(),
			"-o", network.bridge,
			"-j", "DROP"),
		// internal: drop traffic from docker network to foreign subnet
		// n

[2020-05-27 16:08] bephinix commented on #43
@robbertkl Can we close this?

[2020-05-27 16:13] bephinix commented on #53
@zhangyoufu Yes, I will fix this!

[2020-05-27 16:13] bephinix commented on #57
@robbertkl We can close this.

[2020-05-27 16:16] bephinix commented on #48
@robbertkl AFAIK, Docker-IPv6NAT should only mirror Docker's own IPv4 behaviour to IPv6. I think, this is not a part of Docker-IPv6NAT. What do you think?

[2020-05-27 16:20] bephinix commented on #49
@robbertkl Do we need this?

[2020-05-27 16:21] bephinix commented on #51
@max-tet Can you post your output for `iptables -nvL` and `ip6tables -nvL`?

[2020-05-27 17:04] chris42 commented on #58
Ok, -nvL shows something there.
[code]

ipv6:
[code]
Ah, you are blocking the interface, not the iprange as it is done in ipv4?!

[2020-05-27 17:25] bephinix commented on #58
@chris42 Correct. You cannot use IPv6 subnets, because this will block NDP and link local address which leads to a non functional network.

[2020-05-27 18:44] robbertkl commented on #58
Thanks for clearing that up @bephinix! I guess this one can be closed as it's functioning as intended?

[2020-05-27 18:45] #43 closed

[2020-05-27 18:51] bephinix commented on #58
@robbertkl That's correct. :rocket:

[2020-05-27 18:52] #57 closed

[2020-05-27 20:05] chris42 commented on #58
Ok, Thanks!

[2020-05-27 20:05] #58 closed

[2020-05-27 20:19] robbertkl commented on #48
I'm a bit on the fence on this one. You're right, the mapping is not part of Docker itself. However, the functionality of binding to an IP address is available in Docker but cannot be mirrored properly by docker-ipv6nat. This suggests a way to still be able to do it.

There's an associated PR as well (#50), but did not have time yet to look into it.

[2020-05-27 20:20] #53 closed

[2020-05-27 20:29] robbertkl commented on #49
It could be useful, but I personally don't need it for development.

[2020-07-06 15:00] max-tet commented on #51
I implemented a workaround in the meantime and now I tried to reproduce the setup that caused the problem. But I simply could not do it. In fact, while trying I got it to work in the way I originally planned to. So this is no longer relevant and I am closing the issue.
(If only all bug reports were so easy to solve! :wink: )

[2020-07-06 15:00] #51 closed

[2020-07-27 15:39] markg85 opened #60 "not working on custom network"
Hi,

To be honest, it's super sad that this even needs to exist. Which i can only blame docker for as their ipv6 support is so horrendously crappy...

Which makes me very happy that this project is there to help people like me :)

I followed your guide and a command like this works:
`docker run --rm -t busybox ping6 -c 4 google.com`

But if i create a custom network:
`docker network create --ipv6

[2020-07-27 15:55] robbertkl commented on #60
Hi Mark, thanks for trying it out. It's not unsupported, that should work. In the custom network case, did you start the ipv6nat container in the same way? It still needs to have `--network host`.

[2020-07-27 15:57] robbertkl commented on #60
Could you share the command you're using to start the ipv6nat container? Also, output of `ip6tables-save` (after you've started all containers) might be useful.

[2020-07-27 16:08] markg85 commented on #60
Hi Robbert,

Sure thing!
The command to start ipv6nat is:
`docker run -d --name ipv6nat --privileged --network host --restart unless-stopped -v /var/run/docker.sock:/var/run/docker.sock:ro -v /lib/modules:/lib/modules:ro robbertkl/ipv6nat`

As per your description on the main page of this project.
The iptables output (note, this is a vultr node, spun up for this test purpose):
[code]

I did try ad

[2020-07-28 21:02] bephinix commented on #60
@markg85 Can you restart docker, try to ping and post the output of `ip6tables -nvL` which may provide additional information about package stats?
The current configuration _seems_ fine:
- `-A FORWARD -i br-2a4cee23ef2e ! -o br-2a4cee23ef2e -j ACCEPT` should (finally) ACCEPT your traffic to the destination server.
- `-A POSTROUTING -s fd00:dead:beef::/48 ! -o br-2a4cee23ef2e -j MASQUERADE` should

[2020-07-28 21:16] markg85 commented on #60
That second line fails for me.

[code]

This is the output you requested:
[code]

IPv6 is such a.... thorough piece of crap to get working. I honestly can't wrap my head around how people could invent something so super vague. And that comes from me as software developer. Imagine how totally "out of this world" ipv6 must feel to less technical educated people.

[2020-07-29 06:19] bephinix commented on #60
@markg85 Masquerade Rules can only be used in the NAT Table. You might want to check the output of `ip6tables -t nat -nvL`. :+1:

[2020-07-29 09:39] markg85 commented on #60
I think you're assuming i know what that output means and how to interpret that? ;)
I have no clue!
[code]

But to remind you. This is still just plain vultr with a fedora node.
If you want, i can give you access.
If you can give me your public key for ssh's authorized_keys file and you can play with it.

I can also spin up a new node with only that node + docker installed, nothing more (and cgrou

[2020-08-01 21:39] johntdavis84 opened #61 "README Question: Using image/image inside"
Hello,

Thanks for putting so much effort into the README. It explains both the problem and solution, and quite a bit about how all this actually works.

I've been trying to set up pihole with v6 support for a few weeks now (I tinker with it at night), and have mostly been stunned at how underdeveloped docker's v6 support is--even the documentation is incomplete.

I was definitely very happy to fi

[2020-08-01 22:32] bephinix commented on #60
@markg85 As you can see, the corresponding NAT rule is not matched by your packages:

[code]

If you are able to create a clean system, you should check if it works on this machine.

[2020-08-01 22:51] markg85 commented on #60
I'm totally lost.
I'm following the exact lines on the main page which apparently gives me that.
I can't make things up as i simply can't think of what to type in or what means what.

Lets bisect what you say first, as that sounds alien to me too.
`the corresponding NAT rule is not matched by your packages`
`NAT rule` (network address translation), i know the abbreviation. I "kinda" know what nat

[2020-08-01 22:52] bephinix commented on #61
@johntdavis84 Using IPv6 with Docker is not as simple as it should be, thats right.

The equivalent compose subtree for the Docker-Run-Command:

[code]

_(You might want to check [Composerize](https://www.composerize.com/)._

This depends on how you want to run and deploy Docker-IPv6 NAT. If you run it by creating a docker container with `docker run` or an equivalent docker-compose configuration,

[2020-08-01 23:25] bephinix commented on #60
@markg85

Okay, let's break it down to a few essential points.

All your docker containers will get a private IPv4 address, which is used for internal communication. As your docker host (very likely) does not have enough public IPv4 addresses for each container, outgoing packets (destination outside your docker network or docker host) have to use NAT (Network Address Translation) which will basica

[2020-08-02 08:44] markg85 commented on #60
@bephinix Thank you for that elaborate explanation! Really awesome!
I think i'm at to point to know enough about it to know that i know no shit about it :) (if that makes sense, hehe)

The way you describe it sounds logical to me and how i would want to have it to work. I **don't** want to manage every individual container by it's own to have it's firewall in order. I want my containers to all be

[2020-08-02 10:48] bephinix commented on #61
@johntdavis84 The AUR packages is now also available for `armv6h`, `armv7h` and `aarch64`, so you can run Docker-IPv6-NAT as a system service by installating the AUR package or as a container by using the docker command or the docker compose script. :tada:

[2020-08-02 11:10] bephinix commented on #60
@markg85 Okay, I would guess that the cause of the broken IPv6 ping are misconfigured devices, routes or addresses.

As you see, the docker network you created **does not** have a gateway set for IPv6; it should look like this:

[code]

Can you check which IPv6 addresses are configured for your docker host by using `ip addr`? (You may want to mask your public IPs.)

This might be useful. Please al

[2020-08-02 11:14] robbertkl commented on #61
Awesome @bephinix !

[2020-08-02 15:56] markg85 commented on #60
There must be more wrong.
The help on this page does **not** mention that the gateway needs to be added.

I removed the network and recreated it:
`docker network create --ipv6 --subnet fd00:dead:beef::/48 --gateway fd00:dead:beef::1 test`

And ran: `docker run --network test --rm -it debian:stable bash`
Now we're even further gone.
ping6 google.nl <-- no result
ping google.nl <-- no result

The ne

[2020-08-02 17:31] johntdavis84 commented on #61
@bephinix & @robbertkl Good morning! Thanks so much for your replies. @bephinix , I can't say how much I appreciate  taking time to publish a new version of the AUR package. I've been going slowly mad trying to do it by hand--but at least I understand a lot more about how v6 and docker work now. Thank you!

**One last question: I am assuming, but not 100 percent sure, that I need to keep the daemo

[2020-08-02 18:26] bephinix commented on #61
@johntdavis84 If you want to enable IPv6 on your default `docker0` bridge, you have to keep the options in `daemon.json`. For manually created networks, this should not be necessary.

Dual-Stack for containers are not as common as one might think; most of the time only the ingress itself uses dual-stack and all other internal containers and services use IPv4 _or_ IPv6. AFAIK Kubernetes is currentl

[2020-08-02 18:31] bephinix commented on #60
@markg85 Okay, let's start with how you created your VM/Node. Can you post the steps and the OS and kernel version you are running on your node?

[2020-08-02 18:59] markg85 commented on #60
Vultr: i took Fedora 32 x64 (32 is the version, don't be fooled by that number)
Logon to your node.
Note: everything written in `these blocks` are the commands i'm executing.

# Updating everything:
`dnf update -y` and `reboot`

# Go back to cgroups v1 as docker doesn't like v1 yet
And i'm not willing to use "podman".
`grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"` and `re

[2020-08-02 19:05] bephinix commented on #60
@markg85 Thx, I will check it out.

[2020-08-02 19:44] bephinix commented on #60
@markg85 Can you test the following command: `docker run --network test --rm -t busybox ping6 -c 4 2001:4860:4860::8888` ?

[2020-08-02 19:50] markg85 commented on #60
Yes.
That works! Why? lol

[2020-08-02 20:22] bephinix commented on #60
@markg85 I think I found your error. Well, it is not _your_ error.

It was the DNS.

Docker itself and Docker-IPv6-NAT uses IPTables/IP6Tables for setting up firewall rules to isolate networks and containers and managing NAT. There are (at least) two kernel subsystems, which will handle the "filter operations": `nf_tables` (new) and `x_tables` (legacy).
As Docker currently does not support *nf_tab

[2020-08-02 20:27] bephinix commented on #47
@robbertkl I think we can close this. :+1:

[2020-08-02 20:58] markg85 commented on #60
Ahh, so that's why you kept asking for the kernel ;)
See, this is going a lot faster!

So weirdly enough, this didn't work right away after applying your fix.
I undid it to just figure out that nothing worked anymore (any ping, ipv4 and v6).
I redid your fix and now for whatever creepy magical mystical reason it all of a sudden does work...

For now, it works :cake:
But i'm really expecting this t

[2020-08-02 21:09] bephinix commented on #60
@markg85 Great it works now! You should an OS which is officially supported by [Docker](https://docs.docker.com/engine/install/); e.g. Fedora 31. :+1:

 Well you do not have to. I am using Debian 10 and ArchLInux and the Gateway is set correctly. There is also a bug for `docker network inspect` which does not show the gateway although it is set.

Yes, I will create a PR.

[2020-08-02 21:10] bephinix commented on #60
@robbertkl This should be solved.

[2020-08-02 21:55] robbertkl commented on #47
Agreed

[2020-08-02 21:55] #47 closed

[2020-08-02 21:56] robbertkl commented on #60
Thanks!

[2020-08-02 21:56] #60 closed

[2020-08-02 22:36] johntdavis84 commented on #61
@bephinix is there a good reason to enable v6 on the default bridge? My understanding (so far) is that regularly using the default bridge for anything when there's a container with its own network available has negative security implications.

I understand that it's not a common use case, though I'm definitely surprised that the current docker documentation does not actually explain how to get a d

[2020-08-03 01:41] johntdavis84 commented on #61
@bephinix , thanks again for your help.

I'm able to bring up the docker-compose.yml powered container, using the `  IPv6: 'True' ` flag in the environment. During startup, I see this:

That all seems to be working as intended, but then I get the following when I try to inspect the network it creates. It's not enabling IPv6, and the image does not appear to receive a v6 address at all.

**Do I nee

[2020-08-03 07:17] bephinix commented on #61
@johntdavis84

Exactly, simply use custom created bridges all the time. :+1:

You do not have. It is possible to create an bridge network with IPv6 via docker compose, although you may need to use v2 of docker compose files. The bridge or docker compose do not need to known about Docker-IPv6-NAT, as IPv6-NAT simply monitors active docker networks via the docker socket and creates and removes IPTab

[2020-08-03 14:03] johntdavis84 commented on #61
@bephinix

I've added `network_mode: host` to my pihole service description, along with my static v4 host address and (the most) static v6 address that box seems to have.

I'm realizing starting my docker adventure with pihole was likely not the best idea. The pihole docs make it sound super-simple, but to even get it to come up on Manjaro Linux I had to make the pihole container `privileged`, eve

[2020-08-03 18:13] markg85 commented on #60
Perhaps choosing Fedora 32 added to the difficulties.
Do know that i start a node with the intention to keep it running for quite a while (years sometimes) so i prefer choosing the latest version.

Thank you very much for all your help!
Now i can - finally - get nginx to shut up with ipv6 certificates that it can't check... It's not blocking anything. Just a warning in the log that i want to get r

[2020-08-08 00:04] abhinava opened #62 "Removal of ip6table Rules Upon Stopping Container"
Hi there! Thanks for this really awesome utility! I've been using this for few days now and seems to work really well!

One feature enhancement if you can consider, is to remove all the ip6table rules when the container is stopped. I tried to manually delete the rules myself externally after stopping the container but this seems a bit complex.

Perhaps you know the different chains and rules that

[2020-08-08 00:13] robbertkl commented on #62
Hi @abhinava, `docker-ipv6nat` has a `--cleanup` flag for removing all of the created IPv6 rules on shutdown of `docker-ipv6nat` itself. Individual container rules are automatically added (and removed!) when containers get started/stopped (or connected/disconnected from a Docker network).

[2020-08-08 00:13] #62 closed

[2020-08-08 00:27] abhinava commented on #62
Thanks! I'm using the container version ([link](https://github.com/robbertkl/docker-ipv6nat#docker-container)) not the native binary as a Linux systemd service.

Is there a particular way to stop the container? If I try the "docker container stop..", the rules don't seem to be getting cleaned up. Perhaps Am I missing something?

[2020-08-08 00:30] robbertkl commented on #62
You can add `--retry --cleanup` to the end of the command you use to start the ipv6nat container.

(`--retry` is the default, as can be seen in https://github.com/robbertkl/docker-ipv6nat/blob/master/Dockerfile)

[2020-08-08 00:38] abhinava commented on #62
Awesome! Thanks for this tip!

Perhaps you could add this note to the README?

[2020-08-08 11:40] robbertkl commented on #62
Great suggestion, I've clarified it a bit in the README, see e60fa0fbc096cd403d26ba2f0e29cc1bf13695a1.

[2020-10-21 09:57] bephinix commented on #61
@johntdavis84 At the moment, only Pi-Hole is running on the PI. You might want to use any simple container like NGINX and a default Debian container to test your bridge networking.

@robbertkl I think, we can close this Issue.

[2020-10-21 11:30] #61 closed

[2020-11-10 01:56] giggio opened #63 "Enable support for link-local address"
I saw, according to [the docs](https://github.com/robbertkl/docker-ipv6nat#option-b-user-defined-network) that docker-ipv6nat

But I can't get it to work with link-local addresses. It binds and works fine with global unicast addresses, but not unique local ones. I tried setting `com.docker.network.bridge.host_binding_ipv6` to a link-local address, and the logs even show it correctly, but it does n

[2020-11-10 09:08] robbertkl commented on #63
What does not work exactly? The incoming connections on your port?

* Does a ping6 from within your container (docker exec) to a destination outside (e.g. google.com) work?
* When you listen on a port on the host itself (so not in a container) using netcat/nc6 binding to the link-local address, can you connect to it?

[2020-11-10 12:05] giggio commented on #63
I can't connect to the container. I'm using docker-ipv6nat with a PiHole.

When I don't use the parameter I can connect just fine using the global unicast address. The container is also able to do its job as a dns server, and can always connect to the internet using ipv6.

If I exec into the container, I can use `nslookup` and change it to use the ULA to resolve:

[code]

I haven't tried it. Is th

[2020-11-11 23:19] giggio commented on #63
Ok, I got a simple repo you can try:

[code]

The curl statement also works for me when calling from a different machine. And fails on the same host, or from a different machine.

[2020-11-24 17:10] quentindavid opened #64 "Issue with swarm mode using docker_gwbridge bridge"
Hi ! Thanks a lot for your work, very surprising now in end-2020 we still have to fight in order to have in a consistent behaviour between IPV4 and IPV6 within docker..

So, I followed your documentation, and it works well for containers sitting in docker, I can see the rules added in the debug mode. Now I try to use it with swarm mode, so I enabled IPV6 on docker_gwbridge :
[code]

And then I lau

[2020-11-24 17:33] robbertkl commented on #64
Hi @quentindavid, sorry you're running into issues. I don't use swarm mode myself. Perhaps @Chrislevi, who wrote the swarm mode instructions in the README, knows something about this?

[2020-11-24 17:39] quentindavid commented on #64
Hi @robbertkl , thanks for answering this fast !
The containers, within a swarm or not, are containers, and they are connected to docker_gwbridge, so as I understood it should work fine.
I tried to read the code but I'm not sure to understand how it works. Is it able to detected both containers connected to docker0 and docker_gwbridge as well ?

Thanks again :)

[2020-11-24 17:43] robbertkl commented on #64
Yeah, the code is listening for Docker events, so it should see any container being connected to a network.

[2020-11-24 17:48] quentindavid commented on #64
Ok then I don't understand why it's missing the containers connected within swarm. Maybe @Chrislevi is able to help ?

[2020-11-30 14:55] robbertkl opened #65 "Possible deprecation of docker-ipv6nat"
With the merge of https://github.com/moby/libnetwork/pull/2572 we're finally 1 step closer to having IPv6 NAT built into Docker!

I'm creating this issue to track the release of this feature, and to figure out if there are any remaining use cases for this tool. If not, we can deprecate this tool in favor of the built-in functionality.

[2020-11-30 14:57] robbertkl commented on #49
Closing due to inactivity

[2020-11-30 14:57] #49 closed

[2020-11-30 21:40] bephinix commented on #65
@robbertkl I think we should keep it up until built-in IPv6 NAT is rolled out for most distributions.
In addition to this, it is required to check if built-in IPv6 NAT behaves the same way docker-ipv6nat does. :wink:

[2020-11-30 21:47] robbertkl commented on #65
Exactly, agree 100%! I wanted to use this issue to share findings on behavior of built-in IPv6 NAT. After confirming this tool is no longer needed, I wanted to deprecate it with a README message, but still keep it available until the built-in IPv6 NAT is widespread.

[2020-12-01 07:04] bboehmke commented on #65
We should also track moby/moby#41622 because this is the requirement to enable the IPv6 NAT in the docker daemon.

Many thanks also for the great work on this project, it has made my work with IPv6 and docker much easier.

[2020-12-08 18:34] kiwixz commented on #4
Hi, I got the same problem.  Unfortunately I'm already specifying ports as "80:80".  I got similar output from docker inspect as shown [here](https://github.com/robbertkl/docker-ipv6nat/issues/14#issuecomment-317121912), so I guess it's not the binding with is wrong...

Could you suggest any way I could dive deeper to find why docker-ipv6nat does not create rules for my published ports ?

[2020-12-08 18:38] robbertkl commented on #4
Hi @kiwixz, you could try running docker-ipv6nat with the `-debug` flag and also check the output of `ip6tables-save` to see if your ports are showing up. Also I suggest going through the steps in the README to make sure you've gone through every step. Hope this helps!

[2020-12-08 18:45] kiwixz commented on #4
Thanks for the prompt reply, I indeed scrupulously followed the README and enabled debug, cleanup and retry flags.

logs
[code]

ip6tables-save
[code]

I use nftables behind the scene, but it's supposedly backward-compatible.

[2020-12-08 18:55] robbertkl commented on #4
What are your:
* docker daemon arguments or network create command
* container create/run command (or docker-compose YAML)

Are you sure it's connecting to the correct Docker socket/endpoint? Can you try running without `-retry`?

[2020-12-08 19:03] kiwixz commented on #4
I'm pretty sure it's the good endpoint as I have only one dockerd, and it fixes containers' outgoing connections.

Removing `-retry` does not fix it.

I use docker from debian buster (stable) official repo:
[code]

---

`/etc/docker/daemon.json`
[code]

---

`docker-compose.yml` (I removed unrelated stuff)
[code]

[2020-12-08 19:30] kiwixz commented on #4
Okay I found the problem.  docker-ipv6nat was not recognizing the containers with a custom network, as it seems like they dont support IPv6 by default.  Maybe you could add some logs in debug mode telling us why a container is not considered if that is even possible.

The solution is in `docker-compose.yml`:
[code]

You have to use a compose file of version 2.x as IPv6 is not yet support in the 3.

[2020-12-08 22:31] robbertkl commented on #4
Great you've figured it out! Thanks for the info and suggestions.

[2020-12-10 16:02] J0WI commented on #65
Docker 20.10 with IPv6 NAT is out but it has some serious issues: https://github.com/moby/moby/issues/41774

[2020-12-28 07:27] Motophan opened #66 "Documentation clairification"
`/etc/docker/daemon.json`
[code]
Is this what you mean by "make sure your Docker daemon is started with --ipv6 and specifies a ULA range with --fixed-cidr-v6 (e.g. --fixed-cidr-v6 fd00:dead:beef::/48)"

My docker daemon on debian 10 with `docker network inspect bridge` showed
[code]
If so, could you make an example container compose stanza to bring up a your container and a nginx container with du

[2020-12-28 07:51] Motophan commented on #66
![image](https://user-images.githubusercontent.com/42502676/103198907-fd2f6200-4895-11eb-8ed5-0ddc17c66c2f.png)

[2020-12-28 16:38] robbertkl commented on #66
Hi, you can submit a PR with README changes and I'll be happy to consider incorporating them. I'd leave out the bottom lines, as most of that's already mentioned in the (already too long) README, but a working docker-compose example would be a good addition. Please be sure to include the right version at the top of the YAML.

[2020-12-28 18:15] Motophan commented on #66
I don't know I use 2.4 for other issue because I'm just having issues
getting gpus exposed to Plex containers but that's completely unrelated to
this.

On Mon, Dec 28, 2020, 7:38 AM Robbert Klarenbeek <notifications@github.com>
wrote:

[2021-01-01 20:01] johntdavis84 commented on #65
I was actually coming here to open a ticket about this very thing. :)

The latest stable update on Manjaro included Docker 20.10, and I saw the new ipv6nat functionality--and read the long thread of people trying to figure out exactly how it should work, here: https://github.com/moby/moby/pull/41622

It sounds like it's very much still experimental? I'm not sure how to check whether a feature is c

[2021-01-01 20:19] robbertkl commented on #65
I have no intentions of pulling the plug until we can all agree Docker offers the same functionality (and stability). Of course, I'll be hesitant to add new features to docker-ipv6nat when it might be deprecated "soonish". We're keeping an eye on the development within Docker, and currently have no reason to think it will break docker-ipv6nat if you keep it disabled. Thanks for the support @johntd

[2021-01-05 12:15] bboehmke commented on #65
Finally with release 20.10.2 the upstream IPv6 NAT seems to work now.

If you want to give it a try simply add the following lines to the `/etc/docker/daemon.json`:
[code]
and configure the IPv6 the same way as for this container (see https://github.com/robbertkl/docker-ipv6nat#docker-ipv6-configuration)

[2021-01-06 17:07] J0WI commented on #65
There's a regression in 20.10.2:
https://github.com/moby/moby/issues/41858
https://github.com/moby/libnetwork/issues/2607

[2021-01-06 18:35] johntdavis84 commented on #65
I’m very pleased to see how aggressively this is being developed/bugs are being squished. If this is going to be part of docker’s core functionality, it needs to be rock solid.

It’s especially nice to see given the previous resistance from some of the docker community to incorporating NAT-based IPv6.

Robbert, are they collaborating with you at all or drawing from your codebase, or did they roll

[2021-01-06 18:41] robbertkl commented on #65
No collaborating, I think they rolled it from scratch. That makes most sense, as they can mirror the internal workings of the IPv4 NAT. Docker-ipv6nat is set up as an external listener, so doesn't make much sense to draw from this codebase.

I agree that it seems they're very much on top of things. Since the decision was made to make it part of Docker, they're taking it seriously.

[2021-01-06 18:47] johntdavis84 commented on #65
That makes sense. Thanks for taking the time to explain how these things work. I’m a relative Linux/networking newbie, and I feel like I’m starting to get a handle on the basics, but the intricacies of IPv6 especially, and how it is implemented across various systems, remains impenetrable deep magic.

I understand why IPv6 is so important, but I am deeply concerned that it’s so difficult to use co

[2021-01-06 21:33] fnkr commented on #65
Has anyone tried enabling IPv6 NAT for the default bridge network? In my case dockerd tries to execute a wrong command and crashes. Reported it here: https://github.com/moby/moby/issues/41861

[2021-01-09 18:53] Rycieos opened #67 "Exits with "unable to detect hairpin mode (is the docker daemon running?)""
Version: v0.4.3 docker.
Docker version: 20.10.1 and 20.10.2
OS: CentOS Linux release 8.3.2011 (Core)

After a system update, upon launching I get this error:
[code]
After which the container exits and restarts.

Thinking it might be a permissions issue, I removed all `--cap-add`s, leaving only the `--cap-drop ALL` to test, but that broke it more:
[code]

I then tried to give it `--cap-add ALL`, bu

[2021-01-09 19:24] robbertkl commented on #67
Hi @Rycieos, thanks for the extensive report!

Could you try a few things for me?

* Do you use `--network host`? And could you try with `--privileged` instead of the `--cap` flags?
* Could you try to use `robbertkl/ipv6nat:0.4.2` instead of latest? I've recently upgraded go-iptables, so this could indeed be related to the issue you mentioned.

[2021-01-09 19:36] Rycieos commented on #67
I am running with `--network host`, yes.

Trying `--privileged` instead has the same result.

I forgot to mention, I was running v0.4.1 I think before debugging, and updated to see if it resolved my issue. I just tested versions v0.4.1, v0.4.2, and v0.4.3 with both `--privileged` and `--cap-add`s, same results.

[2021-01-09 20:58] robbertkl commented on #67
Just to be sure: in that case you're running the ipv6nat container with `--network host` **AND** `--privileged`?

And before the system upgrade, it was all working fine?

v0.4.1 and v0.4.2 have been around for quite a while already, but haven't seen an issue like this before. And if the issue started only after the system upgrade, that makes it only stranger, and doesn't seem related to go-iptable

[2021-01-09 21:10] Rycieos commented on #67
Good idea!

Sanity check from host:
[code]
Container:
[code]
Well that isn't good. Same thing if I do `docker run --rm -it --cap-add NET_ADMIN --cap-add NET_RAW --network host --entrypoint sh robbertkl/ipv6nat` instead.

Any ideas? I'll keep digging.

[2021-01-09 21:17] robbertkl commented on #67
From within the container (docker run again), could you run these 3 commands:

[code]

[2021-01-09 21:19] robbertkl commented on #67
Sorry, forgot:

Before running the `ls -l` command, please run `./docker-ipv6nat-compat` once.

[2021-01-09 21:20] Rycieos commented on #67
[code]
That is identical to what I see on the host. Does that mean the iptables update I got switched from the legacy backend to a newer backend?

Correct.

[2021-01-09 21:23] Rycieos commented on #67
Oops, I missed this before:
Running on the host:
[code]

That happens with `iptables -L` as well. I don't remember seeing that warning before, so something must have changed with my update.

[2021-01-09 21:27] Rycieos commented on #67
[code]

Looks like that fixes it to point to the right one. I'm assuming the standard entry point must not be doing that, or it should be working for me.

[2021-01-09 21:27] robbertkl commented on #67
It looks like your system has indeed switched backend, but `docker-ipv6nat-compat` should pick that up and symlink to the correct version.

Could you try the previous ls -l command again, but this time after you run `./docker-ipv6nat-compat` once?

Also: do you normally run the ipv6nat container with the entrypoint set? Or does it use the default entrypoint?

[2021-01-09 21:28] Rycieos commented on #67
Default. Here is my full docker-compose file:
[code]

[2021-01-09 21:29] robbertkl commented on #67
Hmm, so it does switch over to xtables-nft-multi (docker-ipv6nat-compat is actually the standard entrypoint), but still doesn't work? That's very strange.

[2021-01-09 21:34] robbertkl commented on #67
1 thing that looks off in your output is that:

* `xtables-legacy-multi iptables-save -t nat` shows no rules, but it does have counters behind each chain (the numbers in brackets)
* `xtables-nft-multi iptables-save -t nat` shows Docker's NAT rules, but the counters are all 0

[2021-01-09 21:36] Rycieos commented on #67
I think I got it!

On host:
[code]
In container (I hacked the entrypoint to not exit after it crashes):
[code]

It shows the address as `127.0.0.0/32`, not `127.0.0.0/8`!

[2021-01-09 21:40] robbertkl commented on #67
Wow, that should definitely explain it!

Any idea why that would happen and why only after a system upgrade? Very strange how iptables-save (both version 1.8.4) show different things on the host and in container for the same rule!

[2021-01-09 21:44] Rycieos commented on #67
Actually, I should stop truncating output. It shows that for every single rule!
[code]
turns into
[code]
Same thing is done on the `filter` table as well.

Agreed, very strange.

I'll try digging into why it warns about legacy tables, maybe there is a RedHat bug somewhere about this that could provide some clues.

[2021-01-09 21:48] robbertkl commented on #67
Not sure, but perhaps the legacy tables were created by the iptables commands within the container before running `docker-ipv6nat-compat` (by default the image is set to legacy). I would recommend a reboot to see if the warning goes away.

The counters are still a bit strange, however. Is Docker's NAT working OK for IPv4 after the upgrade? Can you reach the published ports?

[2021-01-09 21:53] Rycieos commented on #67
Yeah, I'll try a reboot.

Yup, IPv4 works just fine. The counters look normal from the host, it's just the chain global policy counters that have 0s:
[code]

[2021-01-09 22:01] Rycieos commented on #67
The second reboot did clear up the warnings of legacy tables existing. But it did not fix the problem. Iptables in the container still shows `/32` for all ip ranges.

[2021-01-09 22:07] Rycieos commented on #67
But only until `exec`ed into the container and ran `iptables-legacy-save` (symlinked as `iptables-save`, which I forgot about), which created legacy tables! So that is where the legacy rules are coming from, and why I never saw the warning before. I can't seem to find a way to remove these rules without rebooting.

[2021-01-09 22:10] robbertkl commented on #67
Yeah, that's what I thought created the legacy rules. But if you're exec'ing into the container, the container would have already executed the `docker-ipv6nat-compat` script and symlinked `iptables-save` to `xtables-nft-multi`, right? Or do you mean a manually started container?

[2021-01-09 22:18] Rycieos commented on #67
Yeah, I just did that in a manually started container after rebooting without thinking.

I'm still stumped as to how a iptables patch update could cause this. Especially since the version that is showing wrong output is in the container and wasn't changed.

[2021-01-09 22:36] robbertkl commented on #67
It could still be that the update switched the backend from legacy to nft and something is not working properly in the "translation" to iptables output, which iptables-nft does. Can't confirm on my current system, as it's using legacy; will have to set up a new machine to test it.

[2021-01-09 22:50] robbertkl commented on #67
Could you try installing iptables 1.8.6 from Alpine "edge" within the container:

* Either exec into your ipv6nat container or run a new container and manually run docker-ipv6nat-compat, so the correct symlinks are made
* Run this to upgrade iptables: `apk upgrade iptables ip6tables --no-cache --repository=http://dl-cdn.alpinelinux.org/alpine/edge/main`
* Check the iptables-save output again

[2021-01-09 22:59] Rycieos commented on #67
No dice:
[code]

I was just able to track down the rpm files of the previous version of iptables I had installed. I'm going to try a manual roll back and see if it fixes my problem.

[2021-01-09 23:12] robbertkl commented on #67
Great, let me know. Still blows my mind how it can affect only the result within the container.

Also wondering how iptables on the host could have an effect in the first place: I don't think it's even used? Your system uses nftables and I think it's only iptables-nft in the container that talks directly to nftables. I don't think it's even using the iptables installed on the host.

[2021-01-09 23:20] Rycieos commented on #67
Well that fixed it. 🤕

Feel free to close this issue if you want, since it seems to be a problem with an external package. Though if you think it is a compatibility issue, I would be happy to help you continue to debug it (though not on my home prod system).

Full fix detailed, in case anyone else has the exact same stuck package scenario:

[code]

Thanks for all your help tracking down what was c

[2021-01-09 23:26] robbertkl commented on #67
Wow, that was quite the journey. Great you figured it out! And thanks for the detailed fix.

Let's leave it at this. I'll keep an eye out for more reports of this issue.

Yeah, that's usually a no-go, for that exact reason.

[2021-01-09 23:44] thedejavunl commented on #67
I can confirm that this error occurs with a fresh install of CentOS.
The downgrade solution helped for me.

[2021-01-10 00:09] robbertkl commented on #67
Thanks @thedejavunl, best to keep the issue open then.

[2021-01-11 14:28] robbertkl commented on #67
I spoke to Phil Sutter from RedHat, who did both the upstream patch as well as its backport into RHEL8.3.

The commit in question is [here](https://patchwork.ozlabs.org/project/netfilter-devel/patch/20201030132449.5576-1-phil@nwl.cc/). To quote Phil:

About the issue we're seeing in the Docker container:

So aside from the workaround (downgrading as detailed [here](#issuecomment-757382645)) I gues

[2021-01-11 14:43] Rycieos commented on #67
Wow @robbertkl, fantastic detective work!

To so to be 100% clear, this "backport" in the RedHat packages happened between versions 1.8.4-15.el8 and 1.8.4-15.el8_3.3?

And this change is expected to land in iptables v1.8.7?

As running two different versions of iptables against the same kernel probably wasn't ever intended, I can understand why this could happen.

As for my own environment, I will

[2021-01-11 15:00] robbertkl commented on #67
Correct, see the changelog here: https://centos.pkgs.org/8/centos-baseos-x86_64/iptables-services-1.8.4-15.el8_3.3.x86_64.rpm.html

[2021-01-11 16:42] thedejavunl commented on #67
Thank you very much for the explanation @robbertkl. 🥇

[2021-01-28 00:06] Shuro opened #68 "Running multiple instances of docker-ipv6nat"
Hi there,
this is less of a bug and more of a generic (but unorthodox) question.

Is it safe to have multiple instances of ipv6nat running?
I have some preconfigured docker-compose files which I want to run on the same host, and there are at least two ipv6nat instances. Can they interfere with each other?

Best regards,
Shuro

[2021-01-28 00:13] robbertkl commented on #68
Hi @Shuro, I don't think that's a good idea and will probably cause issues.

The ipv6nat daemon manages ip6tables for the entire system, and communicates directly with the Docker daemon, not just for the containers within the same compose file, but for all IPv6 containers/networks. With multiple instances, this will conflict.

[2021-01-29 01:13] Shuro commented on #68
I see, thank you very much. I'll check how I fix this problem on my end, running just one docker-ipv6nat container / binary.

[2021-01-29 01:13] #68 closed

[2021-02-17 13:01] mcmufffin commented on #67
Hey,

does anybody know if there is an redhat bugtracker record to this?

[2021-02-26 18:11] Daniel15 commented on #67
If this is the issue, couldn't it be fixed by upgrading the ipv6net Docker container to use a newer version of iptables? Maybe as an opt-in (eg. a new tag)

[2021-02-26 18:26] thedejavunl commented on #67
The new IPTables package is included in Alpine Edge. It is not intended for production usage. The IPTables upgrade doesn't have any security fixes. Only bug fixes so if the firewall is working correctly the need to update the RPM packages is zero.

[2021-02-26 18:37] Rycieos commented on #67
That seems to be the plan, once iptables is updated in Alpine. We all seem to agree that we should wait until it is "stable" before doing that.

[2021-03-19 04:47] indrajeetray commented on #64
Hi @Chrislevi,

I am facing the same issue too.
Earlier I was using bridge network with IPv6 and I could see ipv6 NAT working. I have a setup where I expect UDP packets to come from outside my system and it is forwarded to the container with the source IP unchanged.

I am trying to migrade away from docker default bridge to docker_gwbridge that we get when we have swarm network. When I am connecte

[2021-04-11 12:19] Armik2 opened #69 "6in4 host docker ipv6"
Hello. Can anyone suggest the correct settings for docker-ipv6nat? Ipv6 works in docker only if dhcpv6 is disabled for host local clients. Accordingly  i myself am left without ipv6.

[2021-04-11 20:48] #69 closed

[2021-04-11 20:49] Armik2 commented on #69
del

[2021-04-13 08:21] thedejavunl commented on #65
Hi all,

With Docker 20.10.6 the ipv6nat function is fully intergrated (experimental).
You can add the following flags to your daemon.json:
`
{
  "ipv6": true,
  "fixed-cidr-v6": "fd00::/80",
  "experimental": true,
  "ip6tables": true
}
`

[2021-04-13 08:30] thedejavunl commented on #67
Hi all,

With Docker 20.10.6 the ipv6nat function is fully intergrated (experimental).
You can add the following flags to your daemon.json:
{ "ipv6": true, "fixed-cidr-v6": "fd00::/80", "experimental": true, "ip6tables": true }

[2021-04-13 17:16] johntdavis84 commented on #65
Thanks for the update. How does this compare to the earlier updates that enabled/tweaked IPv6 NAT? Is it considered feature complete now/lacking known bugs?

I found this in the release notes:

[2021-04-13 17:30] bboehmke commented on #65
The docker versions between 20.10.2 and 20.10.6 had some regressions with the user land proxy.
This issues are now solved and the daemon should work exactly as before with disabled `ip6tables`.

Until now there are no know bugs for the IPv6 handling anymore. (At least non that I am aware of).

I already used version 20.10.2 in a semi productive setup without any issues (with disabled user land pro

[2021-04-13 18:08] johntdavis84 commented on #65
Thanks for the info.

I have a VM running Manjaro I can test this in once it’s available there...

[2021-04-14 20:14] Rycieos commented on #65
I can confirm that Docker 20.10.6's ipv6nat implementation works, and it seems to work exactly like how this container was doing it. The only difference I have seen is that the `docker ps` command now shows that the ports are mapped for both IPv4 and IPv6. The downside being that "experimental" mode needs to be turned on.

[2021-04-14 20:39] bephinix commented on #65
Let's keep this issue open until NAT for IPv6 is available in upstream docker without experimental mode. :+1:

[2021-04-15 09:14] DavyLandman commented on #65
Running a container by itself works for me as well.

But have you tried running one in docker compose? Is there some extra setup one needs to do there? Since I cannot access them it seems.

[2021-04-15 12:46] 3x3cut0r opened #70 "ipv6nat on docker-daemons running in rootless mode?"
is it possible or is it usefull to use docker-ipv6nat on a docker-daemon which is running in rootless mode?
due the documentation (https://docs.docker.com/engine/security/rootless/)
the host network (docker run --net=host) is also namespaced inside RootlessKit
which means the container sill has no real host address, right?

could someone take a closer look at this?

[2021-06-26 02:22] chesskuo commented on #65
now (20.10.7), I using this experimental feature with docker-compose and it work perfectly!

[2021-06-30 01:01] wangliangliang2 commented on #67
@robbertkl
Hi
this issue also  in [synology_apollolake_918+,DSM 6.2.1-23824 Update 1] .
[code]

[code]

[code]

[2021-06-30 11:27] wangliangliang2 opened #71 "Synology Exits with "unable to detect hairpin mode (is the docker daemon running?)""
I encountered same problem in #67 and #28 .
I found  difference in synology system.
![image](https://user-images.githubusercontent.com/20638550/123952648-e00c5500-d9d8-11eb-8dbe-a4fe0c67fe61.png)

the reason of  [unable to detect hairpin mode (is the docker daemon running?)] in synology is the lack of ip6table_nat.ko and the other ip6* module?

[2021-06-30 20:58] robbertkl commented on #71
Hi, I would advise to switch to Docker's built-in IPv6 NAT, which seems to work great. Please see #65.

Otherwise, #67 contains some workarounds, like downgrading the iptables package.

[2021-06-30 20:58] #71 closed

[2021-07-01 11:34] wangliangliang2 commented on #71
no,it will be a disaster.because docker in synology add "ip6tables": true will crash.

[2021-07-13 14:29] geektoor commented on #67
Heya,

as we still run into this issue, i did some research and also spoke to Phil about it a bit to understand it.

The fix/backport implemented a more optimized way to store rules in the kernel. Now the issue is the following: if the host supports this type of storing rules, but the container iptables doesn't, the output is messed up. It looks like so:
`host # iptables-save | grep "LOCAL -j DOCK

[2021-07-19 22:13] #67 closed

[2021-07-19 23:30] robbertkl commented on #67
Just pushed out a new release [v0.4.4](https://github.com/robbertkl/docker-ipv6nat/releases/tag/v0.4.4) which contains the fix for this issue! Docker images for all architectures are on Docker Hub as `:0.4.4` and `:latest`. Thanks everyone!

[2021-07-20 13:36] fnkr commented on #65
@chesskuo How do I make this work with docker-compose stacks (which use custom bridge networks)? My containers only get IPv4 addresses unless I use the default bridge network.

[2021-07-20 13:40] Rycieos commented on #65
You need to define an IPv6 subnet for the network:

[code]

[2021-07-20 14:06] johntdavis84 commented on #65
If you want to make the network persistent, so that it exists all the time (even when the container is not running), you can use the docker network create command to do the same thing.

This is useful if you have a number of containers that need to use the same network (e.g., if you’re running NGINX Reverse Proxy Manager in Container A and need to run a reverse proxy’d service in container B).*

*

[2021-07-20 15:28] chesskuo commented on #65
@fnkr

this is my network part of `docker-compose.yml`:
[code]

[2021-07-20 15:52] fnkr commented on #65
Thanks. Unfortunately this means we'll have to deal with IP addresses in `docker-compose.yaml`. We would prefer if Docker would automatically assign IPv6 subnets to networks, like it does for IPv4.

For now, we only need IPv6 in CI (for outbound connections to IPv6-only servers), so we'll just connect all containers to the default bridge network to make it work:

[code]

[2021-08-01 12:54] RaphMad commented on #65
I found out that `linuxserver/wireguard`:

* Works in "vanilla" Docker
* Works when using `docker-ipv6nat`
* Does _not_ work when using `"experimental": true, "ip6tables": true`

It seems that theres some difference in how the 2 implementations manipulate iptables, and yours seem to integrate better with wireguard.

[2021-08-03 12:09] RaphMad commented on #65
Just as a follow-up to my comment above, I found the problem to be the _default policy_ set on the `FORWARD CHAIN`, which was set to `DROP` therefore rendering all routing useless.
The value set is inconsistent between yours and the experimental docker implementation (as well as between IPv4 and IPv6):

* docker-ipv6nat: `Chain FORWARD (policy ACCEPT...`
* docker with experimental/ip6tables: `Chai

[2021-08-27 23:27] DerGuteWolf commented on #67
@robbertkl I still get "unable to detect hairpin mode (is the docker daemon running?)" with 0.4.4 on synology DSM 6.2.4-25556 with synology-current docker version 20.10.3-0554 . I use Option B from the README.md. IPv6 works in general on the system

[2021-08-27 23:33] DerGuteWolf commented on #71
@wangliangliang2 were you able to resolve this on synology?

[2021-11-25 01:58] qm3ster commented on #71
Adding
[code]
to `/var/packages/Docker/etc/dockerd.json` makes it not start.
I get

es v1.8.3 (legacy): can't initialize ip6tables table `nat': Table does not exist (do you need to insmod?)
Nov 25 04:51:41 cubic dockerd[31673]: Perhaps ip6tables or your kernel needs to be upgraded.

Am I doomed?

[2021-12-01 01:41] DonRichie opened #74 "Reproducable "Name does not resolve" DNS problems when using docker-ipv6nat"
Hello,

I noticed my phpmyadmin annoyingly loses the session after some clicks. I tracked the problem down to errors in the docker DNS resolution which only happen after I started docker-ipv6nat.

A ping gives the following message if it occurs:  "ping: contb: Name does not resolve"
The dns resolution failure occurs each ~3 seconds, but usually works fine.

The problem only occurs on my limited pe

[2022-01-25 07:26] Windman1320 commented on #71
Got same question in my Diskstation, I'm confused

[2022-01-25 07:51] wangliangliang2 commented on #71
yep, please see in https://github.com/wangliangliang2/fix_synology_docker_ipv6

[2022-01-25 07:52] wangliangliang2 commented on #71
cause synology no support. you should run https://github.com/wangliangliang2/fix_synology_docker_ipv6 first

[2022-01-25 13:15] qm3ster commented on #71
@wangliangliang2 adding/replacing a bunch of kernel modules with unknown binaries? That doesn't sound remotely robust/safe.
1. Where did you get them? Did you build them yourself? If so, what is the source code/makefile? I'd much rather build them myself, perhaps on the synology itself.
2. In `iptables_modules_list`, what are the changes? Perhaps it should be a patch or a `sed` command rather than

[2022-01-25 13:24] DerGuteWolf commented on #71
This was also my concerns, also what would I need on synology 7?

Or is the problem gone with 7?

[2022-01-25 13:48] wangliangliang2 commented on #71
you can rebuild it for yourself from https://github.com/SynoCommunity/spksrc

and  there is  an issue by me  https://github.com/SynoCommunity/spksrc/issues/4713#issuecomment-1000017943

[2022-01-25 13:50] wangliangliang2 commented on #71
maybe you can read this and rebuild  iptables and ipv6 module for yourself
https://github.com/SynoCommunity/spksrc/issues/4713#issuecomment-1000017943

[2022-01-25 13:52] wangliangliang2 commented on #71
use it or not ,depending on yourself, I will not care so much things.
as I said you can rebuild ipv6 module and iptables for yourself by https://github.com/SynoCommunity/spksrc

[2022-02-12 00:33] leonidcan opened #75 "Can't build docker image (ubuntu)"
Can't build docker image (ubuntu)

/docker-ipv6nat# docker build .
Sending build context to Docker daemon  61.44kB
Step 1/17 : FROM --platform=$BUILDPLATFORM golang:1.16.6-alpine3.14 AS build
failed to parse platform : "" is an invalid component of "": platform specifier component must match "^[A-Za-z0-9_-]+$": invalid argument

[2022-02-12 13:12] McBane87 opened #76 "Policy for FORWARD Chain should be DROP"
Hi,

I'm using your docker image, because it tries to create the same iptables rules docker does for ipv4. I wanted to have the same level of isolation. And your solution is nearly doing this, but I realized one difference. Docker, in ipv4 tables, is setting the policy in FORWARD chain to DROP, like this:
[code]

Unfortunately, your solution isn't doing this. Because if I investigate `ip6tables -S

[2022-02-12 17:40] SuperSandro2000 commented on #75
See https://github.com/robbertkl/docker-ipv6nat/blob/master/push.sh#L22-L29 how it is build.

[2022-06-15 15:39] romansavrulin commented on #65
Does this feature work with Docker Desktop v20.10.14 for Mac? I'm unable to connect to ipv6 hosts or ping it from the inside of the container, even if I put

[code]

to the config

[2022-06-15 18:10] robbertkl commented on #65
I don't think it will. Docker for Mac runs in a virtual machine (xhyve), not directly in macOS.

[2022-06-18 00:37] johntdavis84 opened #77 "Question about Launching via Docker Compose in Ubuntu?"
Hello.

I've only previously used `IPv6nat` on my Manjaro (Arch) systems, which made available the installable `systemd` service.

I'm trying to bring up the container on Ubuntu for the first time, and I can't tell if it worked or not.

Here's what it did:
[code]

Here's what `docker ps` says:
[code]

What's the best way to make sure it's actually working as intended, and that I don't need to also

[2022-06-18 00:39] johntdavis84 commented on #77
Here's the compose file:
[code]

[2022-07-07 19:47] guysoft opened #78 "Prefer ipv6 over ipv4"
Hey,
Is there a way to set that Ipv6 would be preferred to ipv4?

If I bring up a container I get that unless spefied (or ipv6-only site) ipv4 is used:
[code]

Only if I force ipv6 it uses it:

[code]

Its like this for every container I tried.
docker-compose:

[code]

/etc/docker/daemon.json:

[code]

[code]
Thanks

[2022-08-01 13:05] 7cio commented on #78
You can use the subnet 2001:db8::/64
The containers will prefer IPv6 over IPv4

[2022-08-02 12:35] guysoft commented on #78
@vNa3006 That subnet type changes the preference?

From what I understand that is an address block (2001:db8::/64) used for documentation examples:
https://en.wikipedia.org/wiki/IPv6_address#Special_addresses

[2022-08-02 15:28] 7cio commented on #78
Yes, I don't know why it works that way, but when you use 2001:db8::/64, the containers will prefer ipv6

[2022-08-03 12:35] guysoft commented on #78
I probably want though a subset not used for documentation :)
Any other blocks or explanation why?

[2022-08-03 14:35] 7cio commented on #78
I haven't tried anything else yet. I'm OK with that subnet for now.

[2022-08-04 09:49] guysoft commented on #78
From #ipv6 on librechat I was updated that what sets the priority is ``/etc/gai.conf`` (getaddrinfo). I am not sure how to use it though

[2022-08-04 10:11] 7cio commented on #78
You can backup the gai.conf file, then replace the content of the file to

label ::1/128       0
label ::/0          1
label 2002::/16    2
label ::/96         3
label ::ffff:0:0/96 4
label fec0::/10     5
label fc00::/7      6
#label 2001:0::/32   7

It should work also

[2022-08-04 10:22] guysoft commented on #78
@vNa3006  Does this go in the container? host? or the docker-ipv6nat container?
Does not seem to work in the container.

[2022-08-04 11:41] 7cio commented on #78
I've just tested with a clean ubuntu container, it works right after editing the gai.conf file without restarting the container.

[2022-09-13 13:45] minyor opened #79 "Tryed everything, cannot make it work.. Please help"
- OS: Debian 9.6
- IPv6 range 2a01:4f8:192:6406::/64 pinging successfully from outside
- ping6 google.com is working fine from host

Steps I made:

nano /etc/docker/daemon.json
[code]
service docker restart

[code]

`docker run -d --privileged --name ipv6nat --cap-add NET_ADMIN --cap-add NET_RAW --cap-add SYS_MODULE --cap-drop ALL --network host --restart unless-stopped -v /var/run/docker.sock:/va

[2022-10-28 22:39] A1bi commented on #65
Something I noticed: If you use a ULA prefix for `fixed-cidr-v6` like `fd00::/80`, everything inside your container will still prefer IPv4 over IPv6 unless you force it to use IPv6. For example if you ping or curl (without the `-6` flag) dual stack hosts, it will talk to them via IPv4. Kinda a dealbreaker for me.

I guess the OS is smart and knows that a ULA address isn't supposed to be able to ta

[2022-10-28 23:42] guysoft commented on #65
@A1bi That explains for me what is going on with  #78

[2022-10-29 17:20] GoliathLabs opened #80 "[security] Go 1.19.3 and Go 1.18.8 pre-announcement"
@robbertkl we might need to update the used docker image as well depending on the severity of the vuln. in the standard library.

https://groups.google.com/g/golang-announce/c/dRtDK7WS78g